## Importing Necessary Libraries

In [1]:
import warnings
warnings.simplefilter("ignore")
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pd.set_option("max_columns", 33)
pd.set_option("max_rows", 50)

## Train Dataset

In [3]:
train = pd.read_csv("Train_Set_TVS.csv")

In [4]:
train.head(2)

,ID,Compensation,Vehicle_Status,Loan_amt,Annuity_amt,density_Ind,Job_Type,Default_hist,Prop_List,Home_Appliances,Region_Type,Credit_Inq,Education_det,Marital_Stat,Gen,Credit_Lnks,Experience,Income_Alt,Day_Process,Ph.No,Type_Loan,Dependents,Company_Rating,Region,Age,hour_Process,Addr_permanent,Permanent_Addr_tag,c1_rated,c2_rated,Contact_age,Product_bought,Default
0,540071,801850.0,Y,658040.0,13816.52,0.0304,IT,ndf,Morethan_One,NaN,Metro,1,Grad,Married,F,1_to_3,0.9,Not_Specified,SAT,Yes,CLoan,3.0,2.0,East,46.0,10.0,Yes,No,0.077,0.077,18.0,2.0,1.0
1,511643,884222.0,N,198075.0,11173.06,0.0194,IT,ndf,Morethan_One,1.0,Metro,2,Grad,Married,M,1_to_3,3.0,Not_Specified,wed,Yes,CLoan,3.0,1.0,North,46.0,12.0,Yes,Yes,0.184,0.184,306.0,4.0,0.0

In [5]:
train.shape

(132440, 33)

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132440 entries, 0 to 132439
Data columns (total 33 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ID                  132440 non-null  int64
 1   Compensation        126198 non-null  float64
 2   Vehicle_Status      123336 non-null  object
 3   Loan_amt            132440 non-null  float64
 4   Annuity_amt         127829 non-null  float64
 5   density_Ind         127024 non-null  float64
 6   Job_Type            122192 non-null  object
 7   Default_hist        132440 non-null  object
 8   Prop_List           130475 non-null  object
 9   Home_Appliances     121476 non-null  float64
 10  Region_Type         132440 non-null  object
 11  Credit_Inq          129750 non-null  object
 12  Education_det       132440 non-null  object
 13  Marital_Stat        132440 non-null  object
 14  Gen                 132440 non-null  object
 15  Credit_Lnks         132440 non-null  object
 16  Experience          110595 non-null  float64
 17  Income_Alt          124758 non-null  object
 18  Day_Process         132440 non-null  object
 19  Ph.No               132440 non-null  object
 20  Type_Loan           132440 non-null  object
 21  Dependents          132440 non-null  float64
 22  Company_Rating      120709 non-null  float64
 23  Region              132440 non-null  object
 24  Age                 132440 non-null  float64
 25  hour_Process        132440 non-null  float64
 26  Addr_permanent      132440 non-null  object
 27  Permanent_Addr_tag  132440 non-null  object
 28  c1_rated            114927 non-null  float64
 29  c2_rated            119119 non-null  float64
 30  Contact_age         124287 non-null  float64
 31  Product_bought      132440 non-null  float64
 32  Default             132440 non-null  float64
dtypes: float64(15), int64(1), object(17)
memory usage: 33.3+ MB

In [7]:
train.nunique()

ID                    132440
Compensation           84095
Vehicle_Status             2
Loan_amt              119260
Annuity_amt           117192
density_Ind              417
Job_Type                   3
Default_hist               2
Prop_List                  3
Home_Appliances           13
Region_Type                3
Credit_Inq                 4
Education_det              3
Marital_Stat               4
Gen                        2
Credit_Lnks                3
Experience               446
Income_Alt                 2
Day_Process                7
Ph.No                      2
Type_Loan                  2
Dependents                 9
Company_Rating             3
Region                     4
Age                       49
hour_Process              26
Addr_permanent             2
Permanent_Addr_tag         2
c1_rated                 869
c2_rated                 869
Contact_age             3609
Product_bought            25
Default                    2
dtype: int64

In [8]:
train.drop("ID", axis = 1, inplace = True)

# Because there is all unique values.

#### Summary For Numerical and Categorical Variables.

In [9]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
Compensation,126198.0,745051.897431,470276.230114,152728.0000,517706.0000,665996.0000,879489.0000,7.037702e+07
Loan_amt,132440.0,414801.133722,274678.779207,34275.0000,204529.9500,349542.5000,558205.0000,2.872142e+06
Annuity_amt,127829.0,10845.286442,2061.529355,5852.1000,9348.3700,10773.8200,12165.3900,4.130100e+04
density_Ind,127024.0,0.020446,0.015077,0.0001,0.0104,0.0204,0.0304,2.017800e+00
Home_Appliances,121476.0,3.220891,1.241751,1.0000,2.0000,4.0000,4.0000,1.900000e+01
Experience,110595.0,6.580616,6.357054,0.0000,2.1000,4.6000,9.0000,4.810000e+01
Dependents,132440.0,2.155467,0.909046,1.0000,2.0000,2.0000,3.0000,9.000000e+00
Company_Rating,120709.0,2.030553,0.503750,1.0000,2.0000,2.0000,2.0000,3.000000e+00
Age,132440.0,43.933260,11.962700,21.0000,34.0000,43.0000,54.0000,6.900000e+01
hour_Process,132440.0,12.060865,3.566714,0.0000,10.0000,12.0000,15.0000,2.500000e+01
c1_rated,114927.0,0.505929,0.268665,0.0000,0.2680,0.5000,0.7690,9.470000e-01
c2_rated,119119.0,0.506181,0.268716,0.0000,0.2680,0.5000,0.7690,9.470000e-01
Contact_age,124287.0,979.451383,829.632194,10.0000,288.0000,770.0000,1589.0000,4.309000e+03
Product_bought,132440.0,3.387738,2.173246,0.0000,2.0000,3.0000,5.0000,2.500000e+01
Default,132440.0,0.264301,0.440962,0.0000,0.0000,0.0000,1.0000,1.000000e+00

In [10]:
train.describe(include = "O").T

                     count unique            top    freq
Vehicle_Status      123336      2              N   81370
Job_Type            122192      3             IT   66982
Default_hist        132440      2            ndf  119170
Prop_List           130475      3            One   91559
Region_Type         132440      3          Metro  107548
Credit_Inq          129750      4              1   67072
Education_det       132440      3           Grad   93858
Marital_Stat        132440      4        Married   97609
Gen                 132440      2              M   87063
Credit_Lnks         132440      3         1_to_3  117604
Income_Alt          124758      2  Not_Specified   89848
Day_Process         132440      7            Tue   23146
Ph.No               132440      2            Yes  105944
Type_Loan           132440      2          CLoan  119928
Region              132440      4          North   53101
Addr_permanent      132440      2            Yes  122098
Permanent_Addr_tag  132440      2            Yes  108616

## Test Dataset

In [11]:
test = pd.read_csv("Test_Set_TVS.csv")
test.head()

,ID,Compensation,Vehicle_Status,Loan_amt,Annuity_amt,density_Ind,Job_Type,Default_hist,Prop_List,Home_Appliances,Region_Type,Credit_Inq,Education_det,Marital_Stat,Gen,Credit_Lnks,Experience,Income_Alt,Day_Process,Ph.No,Type_Loan,Dependents,Company_Rating,Region,Age,hour_Process,Addr_permanent,Permanent_Addr_tag,c1_rated,c2_rated,Contact_age,Product_bought
0,487410,653106.0,Y,809400.00,9145.51,0.0015,Govt.,ndf,Morethan_One,1.0,Metro,1,Grad,Married,M,1_to_3,5.4,Not_Specified,thur,Yes,CLoan,3.0,2.0,North,39.0,11.0,Yes,Yes,0.349,0.349,3133.0,2.0
1,533258,434150.0,N,72618.75,7683.23,0.0332,Govt.,ndf,One,4.0,Metro,1,Grad,Married,M,1_to_3,2.3,Y,wed,No,CLoan,2.0,3.0,Central,46.0,13.0,Yes,Yes,0.237,0.237,1730.0,5.0
2,581926,489060.0,N,267255.80,9032.85,0.0316,IT,ndf,Morethan_One,NaN,Rural,1,Grad,Married,M,1_to_3,11.0,Y,thur,No,CLoan,3.0,2.0,South,33.0,15.0,Yes,Yes,0.111,0.111,759.0,4.0
3,486301,957294.0,N,623600.00,12838.25,0.0320,IT,ndf,One,4.0,Metro,1,Grad,Married,M,1_to_3,9.7,Y,Tue,Yes,CLoan,2.0,2.0,East,48.0,12.0,Yes,Yes,0.323,0.323,609.0,4.0
4,580822,1333739.0,N,529520.00,11799.09,0.0073,Non-IT,ndf,One,4.0,Metro,3,P_Grad,Married,F,1_to_3,NaN,Y,wed,Yes,RLoan,2.0,3.0,North,53.0,7.0,Yes,Yes,0.940,0.940,1222.0,1.0

In [12]:
test.shape

(56760, 32)

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56760 entries, 0 to 56759
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  56760 non-null  int64
 1   Compensation        54010 non-null  float64
 2   Vehicle_Status      52877 non-null  object
 3   Loan_amt            56760 non-null  float64
 4   Annuity_amt         54797 non-null  float64
 5   density_Ind         54485 non-null  float64
 6   Job_Type            52440 non-null  object
 7   Default_hist        56760 non-null  object
 8   Prop_List           55849 non-null  object
 9   Home_Appliances     52001 non-null  float64
 10  Region_Type         56760 non-null  object
 11  Credit_Inq          55594 non-null  object
 12  Education_det       56760 non-null  object
 13  Marital_Stat        56760 non-null  object
 14  Gen                 56760 non-null  object
 15  Credit_Lnks         56760 non-null  object
 16  Experience          47409 non-null  float64
 17  Income_Alt          53461 non-null  object
 18  Day_Process         56760 non-null  object
 19  Ph.No               56760 non-null  object
 20  Type_Loan           56760 non-null  object
 21  Dependents          56760 non-null  float64
 22  Company_Rating      51707 non-null  float64
 23  Region              56760 non-null  object
 24  Age                 56760 non-null  float64
 25  hour_Process        56760 non-null  float64
 26  Addr_permanent      56760 non-null  object
 27  Permanent_Addr_tag  56760 non-null  object
 28  c1_rated            49397 non-null  float64
 29  c2_rated            51105 non-null  float64
 30  Contact_age         53238 non-null  float64
 31  Product_bought      56760 non-null  float64
dtypes: float64(14), int64(1), object(17)
memory usage: 13.9+ MB

In [14]:
s1 = pd.DataFrame()

s1["ID"] = test["ID"]

In [15]:
test.drop("ID", axis = 1, inplace = True)

## 1. Data Cleaning

In [16]:
num_test = test.select_dtypes(exclude = "O").columns
print(num_test)

Index(['Compensation', 'Loan_amt', 'Annuity_amt', 'density_Ind',
       'Home_Appliances', 'Experience', 'Dependents', 'Company_Rating', 'Age',
       'hour_Process', 'c1_rated', 'c2_rated', 'Contact_age',
       'Product_bought'],
      dtype='object')

In [17]:
num = train.select_dtypes(exclude = "O").columns
print(num)

Index(['Compensation', 'Loan_amt', 'Annuity_amt', 'density_Ind',
       'Home_Appliances', 'Experience', 'Dependents', 'Company_Rating', 'Age',
       'hour_Process', 'c1_rated', 'c2_rated', 'Contact_age', 'Product_bought',
       'Default'],
      dtype='object')

#### Numerical columns Treament

In [18]:
#  check the numerical columns, Null values and number of unique values.

In [19]:
#  Test Dataset

for i in num_test:
    print("Column :",i, "\n")
    print("Number of unique values :", test[i].nunique())
    print("Null values :", test[i].isna().sum())
    
    print(test[i].unique(), "\n")

Column : Compensation

Number of unique values : 44432
Null values : 2750
[653106. 434150. 489060. ... 650680. 551374. 975117.]

Column : Loan_amt

Number of unique values : 54064
Null values : 0
[ 809400.     72618.75  267255.8  ...  231420.   1096620.    197232.  ]

Column : Annuity_amt

Number of unique values : 52684
Null values : 1963
[ 9145.51  7683.23  9032.85 ... 11299.78 10223.3  12178.59]

Column : density_Ind

Number of unique values : 417
Null values : 2275
[1.5000e-03 3.3200e-02 3.1600e-02 3.2000e-02 7.3000e-03 2.4800e-02
 3.2700e-02 4.3000e-03 1.8900e-02 2.3600e-02        nan 5.4000e-03
 2.5300e-02 2.2900e-02 3.9500e-02 3.5000e-03 2.3500e-02 2.6500e-02
 1.6400e-02 2.4500e-02 3.0900e-02 9.2000e-03 7.4000e-03 1.0600e-02
 5.8000e-03 3.7500e-02 1.5500e-02 5.9000e-03 2.2000e-03 1.0100e-02
 2.7800e-02 2.5900e-02 6.0000e-04 1.2000e-03 6.6000e-03 1.5100e-02
 4.7000e-03 3.5800e-02 1.1200e-02 4.1000e-03 3.8400e-02 2.9500e-02
 1.1700e-02 1.3000e-02 3.9400e-02 3.9600e-02 3.5900e-02 3.8100e-02
 1.4100e-02 3.7900e-02 2.0300e-02 2.1000e-02 1.7400e-02 1.7900e-02
 2.9400e-02 1.3700e-02 2.7700e-02 2.9000e-03 1.8500e-02 3.5300e-02
 5.5000e-03 2.9000e-02 1.5000e-02 3.2300e-02 1.2700e-02 3.8700e-02
 2.8500e-02 2.8700e-02 4.9000e-03 3.0000e-03 1.1900e-02 4.0000e-03
 3.6400e-02 1.2900e-02 2.9600e-02 2.5800e-02 7.0000e-03 1.1500e-02
 3.2600e-02 3.5000e-02 2.2800e-02 1.6300e-02 1.8100e-02 3.6500e-02
 1.6600e-02 2.0500e-02 4.6000e-03 2.7000e-03 7.0000e-04 2.4600e-02
 2.4900e-02 3.8500e-02 4.0100e-02 1.4700e-02 3.3500e-02 3.0500e-02
 3.0000e-04 3.7000e-02 2.3300e-02 3.9700e-02 9.3000e-03 7.6000e-03
 1.4000e-03 2.1700e-02 3.0000e-02 1.0700e-02 8.6000e-03 2.6000e-02
 2.9800e-02 1.4900e-02 1.2500e-02 3.9000e-02 1.6500e-02 3.3700e-02
 1.7200e-02 1.5900e-02 1.0500e-02 1.0000e-03 2.9100e-02 1.9000e-03
 3.4300e-02 8.0000e-04 3.2200e-02 1.0800e-02 1.0400e-02 3.2800e-02
 2.8000e-02 3.3100e-02 1.6700e-02 2.8400e-02 1.1100e-02 3.0800e-02
 3.2000e-03 2.4700e-02 3.9300e-02 1.7700e-02 9.8000e-03 7.8000e-03
 3.4800e-02 6.3000e-03 3.2500e-02 1.8800e-02 4.0400e-02 1.2200e-02
 2.3200e-02 3.7100e-02 3.1200e-02 3.1000e-03 1.4200e-02 2.5000e-02
 2.4200e-02 3.6000e-02 2.0700e-02 2.0400e-02 3.3800e-02 2.7500e-02
 1.5600e-02 3.4100e-02 3.7700e-02 3.9800e-02 3.3400e-02 3.0200e-02
 3.6100e-02 3.0100e-02 1.1300e-02 1.9100e-02 3.9200e-02 3.1000e-02
 1.5400e-02 3.0700e-02 9.5000e-03 2.6400e-02 2.1600e-02 3.4200e-02
 1.1000e-02 2.2400e-02 3.8900e-02 7.1000e-03 1.8300e-02 1.8400e-02
 8.7000e-03 2.5600e-02 1.3400e-02 1.3900e-02 6.1000e-03 7.2000e-03
 1.0300e-02 1.6200e-02 4.2000e-03 9.4000e-03 2.1800e-02 2.7200e-02
 8.2000e-03 2.3000e-02 1.1400e-02 2.3400e-02 3.0600e-02 2.3000e-03
 3.8800e-02 3.7600e-02 2.8800e-02 2.6600e-02 5.1000e-03 2.3800e-02
 3.9000e-03 1.6000e-02 9.6000e-03 1.2100e-02 1.2600e-02 1.3500e-02
 3.8200e-02 1.7300e-02 3.7400e-02 3.4500e-02 2.1400e-02 3.8300e-02
 1.3200e-02 3.8000e-02 3.1300e-02 4.4000e-03 2.9200e-02 1.4800e-02
 3.4000e-02 3.6900e-02 1.8200e-02 1.0000e-02 1.9000e-02 2.2300e-02
 1.4600e-02 1.8000e-02 2.0600e-02 2.2700e-02 5.6000e-03 2.6700e-02
 3.0300e-02 2.0900e-02 3.7200e-02 2.4100e-02 2.7300e-02 5.3000e-03
 3.3900e-02 1.9800e-02 1.1000e-03 1.9600e-02 8.8000e-03 3.4400e-02
 2.7600e-02 5.2000e-03 2.0200e-02 2.6200e-02 3.7800e-02 3.3600e-02
 2.4000e-03 2.2100e-02 7.7000e-03 5.0000e-03 3.3300e-02 3.5200e-02
 3.1800e-02 6.9000e-03 2.0100e-02 1.9300e-02 2.9700e-02 1.7000e-03
 1.5200e-02 2.0800e-02 1.5700e-02 8.4000e-03 3.8000e-03 1.0200e-02
 2.0000e-03 3.3000e-03 1.9900e-02 1.6100e-02 3.5700e-02 1.7500e-02
 4.0300e-02 1.9200e-02 2.1200e-02 5.7000e-03 2.7000e-02 2.2600e-02
 2.9900e-02 1.2800e-02 9.1000e-03 2.5700e-02 3.5500e-02 1.3300e-02
 1.6000e-03 2.8900e-02 2.1900e-02 1.7100e-02 5.0000e-04 3.6200e-02
 3.1900e-02 3.7300e-02 1.1600e-02 2.1500e-02 9.7000e-03 2.3100e-02
 9.9000e-03 2.5400e-02 1.6900e-02 2.3700e-02 6.2000e-03 8.1000e-03
 6.8000e-03 1.9700e-02 1.2400e-02 8.5000e-03 8.0000e-03 2.5500e-02
 2.8000e-03 4.5000e-03 4.0700e-02 2.5100e-02 2.5000e-03 1.2300e-02
 1.3800e-02 1.3000e-03 2.6900e-02 1.0900e-02 3.4600e-02 3.2900e-02
 2.6300e-02 4.8000e-03 2.6800e-02 2.2200e-02 1.7800e-02 2.1300e-02
 1.3600e-02 1.2000e-02 2.6000e-03 1.7600e-02 3.5600e-02 4.0000e-04
 1.3100e-02 2.8300e-02 3.9100e-02 2.8100e-02 3.5100e-02 4.0200e-02
 1.4400e-02 4.0000e-02 2.9300e-02 3.6000e-03 3.6700e-02 7.5000e-03
 2.8200e-02 8.9000e-03 2.4300e-02 7.9000e-03 2.7100e-02 2.7900e-02
 2.2500e-02 2.1100e-02 1.9500e-02 6.7000e-03 3.5400e-02 3.7000e-03
 3.0400e-02 3.8600e-02 4.1100e-02 6.5000e-03 1.4500e-02 2.5200e-02
 2.4400e-02 1.8000e-03 3.4000e-03 2.2000e-02 2.4000e-02 3.1700e-02
 3.1100e-02 1.7000e-02 3.6800e-02 4.0600e-02 6.0000e-03 2.7400e-02
 1.4300e-02 3.3000e-02 2.1000e-03 6.4000e-03 9.0000e-04 9.0000e-03
 2.3900e-02 3.6600e-02 1.4000e-02 2.8600e-02 1.5800e-02 1.1800e-02
 1.6800e-02 3.2400e-02 3.1400e-02 1.8700e-02 3.1500e-02 3.4700e-02
 2.6100e-02 3.4900e-02 3.9900e-02 4.0800e-02 8.3000e-03 1.9400e-02
 3.2100e-02 1.5300e-02 2.0000e-02 2.0000e-04 1.8600e-02 3.6300e-02
 0.0000e+00 4.0500e-02 4.1200e-02 4.0900e-02 4.1000e-02 4.1300e-02
 4.1400e-02 1.0000e-04 2.0372e+00 2.0222e+00]

Column : Home_Appliances

Number of unique values : 10
Null values : 4759
[ 1.  4. nan  2.  3.  6.  8.  5. 14.  7. 19.]

Column : Experience

Number of unique values : 415
Null values : 9351
[ 5.4  2.3 11.   9.7  nan  0.6 10.1  5.8  0.3  3.2  4.3  1.6  8.1  1.1
  4.   4.4 18.  17.6  4.2  8.5 14.9  2.  17.  17.9  1.  20.1  1.4  2.9
  4.7  2.5 13.1  2.2  3.4 11.2 10.   7.5  0.4  3.  13.9  6.7  0.9  2.4
 21.2 39.  13.8  4.9  8.7  5.6 20.5  0.5  3.6  4.1  3.5 22.   5.1  8.4
  1.8  9.9  3.7  6.6  2.6 23.8  6.2  7.7  8.2  4.6 14.1  4.5  2.7  1.7
 25.7  3.3 16.2 12.7  2.1  2.8  9.4 19.5 13.   7.8  5.3  3.9 11.1  3.1
 32.5  7.1  5.   6.  12.9 10.6  0.7 18.9 13.7  0.8 18.2 14.7 12.1 14.8
 24.2 10.2 14.3  5.2  9.3  3.8 15.5 16.7 10.5  1.5  4.8 10.4 10.9 11.6
  6.3 21.6  5.5 11.8 17.3 13.4 10.8  9.6 32.4  7.9  6.5  9.5 11.3  8.6
  7.3  1.9 24.  12.6  6.9  6.1  7.6 22.2  9.  38.8 16.1  9.8  5.7  6.4
 15.1  1.3  1.2 26.2 16.3 11.9  8.   9.2 42.   8.3 17.1 23.9 19.2 14.6
 17.2 19.  15.9 15.3 14.4 20.3  5.9 13.5 10.7 19.9 22.5 26.9 13.3 12.
 18.4 34.1 11.4 14.2 22.1 16.5 31.5  9.1 36.1 26.1 19.7 22.6 19.8 27.1
 21.5 23.1 36.  20.   8.9 14.  21.7 11.7 23.  12.3 28.  41.2 17.7 25.2
 22.3  7.4 24.4  0.1 27.9 27.2 11.5  8.8 20.9 22.4  6.8  7.2 18.8 21.3
 12.8 12.4  7.  29.5 21.4 15.4 13.6 39.2 28.2 15.8 28.3 18.5 33.6 16.8
 19.4 24.9 19.3 19.1 19.6 20.2  0.2 26.7 22.7 30.1 34.8 18.3 37.1 16.
 28.1 25.1 10.3 12.2 15.  21.8 29.3 17.5 21.  14.5 28.9 31.7 38.9 12.5
 13.2 21.1 23.3 33.4 20.6 26.  31.6  0.  30.7 17.4 33.2 17.8 35.7 38.
 23.4 16.9 30.6 20.8 25.6 25.4 30.5 29.1 33.9 29.  32.8 31.1 27.4 24.1
 37.5 15.7 24.3 16.4 40.8 35.9 33.  36.6 37.4 18.6 23.6 37.9 22.9 34.3
 34.7 34.2 16.6 25.5 26.4 18.7 28.6 32.6 15.2 35.6 15.6 20.7 31.2 27.5
 33.1 20.4 29.2 26.8 25.  29.9 34.9 23.7 34.4 28.4 42.5 33.5 29.8 28.8
 30.3 24.7 26.3 44.8 35.  26.6 28.5 31.3 29.4 24.8 27.  23.5 30.  36.7
 18.1 26.5 27.7 27.6 32.1 30.2 35.1 32.  38.3 29.6 25.9 22.8 25.8 27.8
 47.  30.4 39.5 31.8 31.4 21.9 34.5 30.8 24.5 32.2 36.9 27.3 38.1 40.5
 41.  24.6 43.1 34.6 39.6 43.4 29.7 32.9 37.2 23.2 30.9 37.3 37.  36.2
 33.7 36.3 41.3 32.7 32.3 37.7 37.6 25.3 33.8 35.4 39.4 40.1 36.8 35.3
 35.2 43.7 38.4 41.9 31.9 28.7 34.  48.1 39.7 35.5 41.4 39.3 31.  40.7
 42.1 36.4 45.2 35.8 36.5 39.8 33.3 42.4 38.6 38.5]

Column : Dependents

Number of unique values : 9
Null values : 0
[3. 2. 4. 1. 5. 6. 8. 7. 9.]

Column : Company_Rating

Number of unique values : 3
Null values : 5053
[ 2.  3.  1. nan]

Column : Age

Number of unique values : 49
Null values : 0
[39. 46. 33. 48. 53. 36. 62. 44. 28. 57. 34. 65. 35. 63. 32. 61. 45. 43.
 59. 60. 56. 50. 51. 42. 49. 23. 37. 41. 55. 38. 27. 29. 58. 54. 40. 24.
 52. 25. 31. 66. 30. 47. 67. 64. 26. 22. 68. 69. 21.]

Column : hour_Process

Number of unique values : 26
Null values : 0
[11. 13. 15. 12.  7. 10.  5. 14. 19. 24.  8.  3.  9. 16. 17.  6. 18.  4.
 21. 20. 22.  1.  2.  0. 23. 25.]

Column : c1_rated

Number of unique values : 850
Null values : 7363
[0.349 0.237 0.111 0.323 0.94  0.258 0.275 0.264 0.286 0.901 0.584 0.69
 0.89    nan 0.317 0.242 0.392 0.159 0.384 0.101 0.238 0.791 0.263 0.799
 0.375 0.814 0.359 0.231 0.315 0.872 0.762 0.225 0.546 0.245 0.269 0.826
 0.069 0.733 0.667 0.406 0.905 0.789 0.246 0.898 0.229 0.114 0.699 0.756
 0.792 0.759 0.63  0.333 0.177 0.309 0.289 0.802 0.835 0.339 0.201 0.831
 0.624 0.226 0.182 0.824 0.893 0.803 0.868 0.618 0.725 0.873 0.39  0.345
 0.575 0.355 0.886 0.904 0.223 0.25  0.751 0.773 0.651 0.808 0.697 0.582
 0.724 0.858 0.271 0.743 0.55  0.737 0.561 0.822 0.726 0.21  0.307 0.662
 0.287 0.916 0.171 0.338 0.661 0.196 0.322 0.386 0.379 0.551 0.813 0.134
 0.135 0.251 0.063 0.907 0.273 0.79  0.854 0.911 0.302 0.655 0.367 0.86
 0.107 0.19  0.288 0.394 0.877 0.335 0.209 0.807 0.348 0.252 0.361 0.026
 0.54  0.086 0.794 0.842 0.797 0.817 0.401 0.33  0.039 0.783 0.412 0.153
 0.566 0.834 0.266 0.853 0.304 0.262 0.87  0.779 0.829 0.22  0.4   0.657
 0.334 0.766 0.06  0.754 0.704 0.365 0.734 0.819 0.381 0.631 0.707 0.616
 0.353 0.021 0.716 0.154 0.215 0.36  0.728 0.176 0.785 0.331 0.26  0.786
 0.906 0.383 0.326 0.227 0.59  0.65  0.698 0.189 0.261 0.272 0.828 0.606
 0.587 0.626 0.352 0.839 0.206 0.811 0.746 0.247 0.139 0.855 0.396 0.897
 0.88  0.656 0.678 0.255 0.311 0.867 0.564 0.68  0.312 0.146 0.174 0.098
 0.757 0.281 0.301 0.849 0.554 0.081 0.806 0.608 0.234 0.749 0.772 0.841
 0.776 0.342 0.282 0.2   0.691 0.377 0.674 0.358 0.887 0.    0.669 0.108
 0.64  0.735 0.67  0.17  0.239 0.35  0.387 0.719 0.235 0.233 0.816 0.198
 0.563 0.731 0.354 0.787 0.364 0.705 0.398 0.681 0.029 0.891 0.105 0.228
 0.202 0.852 0.116 0.324 0.319 0.276 0.244 0.346 0.402 0.265 0.14  0.224
 0.81  0.533 0.558 0.216 0.218 0.298 0.303 0.864 0.637 0.643 0.249 0.857
 0.217 0.739 0.371 0.622 0.415 0.538 0.588 0.623 0.682 0.742 0.594 0.736
 0.193 0.709 0.256 0.219 0.76  0.833 0.771 0.295 0.142 0.83  0.649 0.78
 0.308 0.41  0.366 0.137 0.37  0.514 0.158 0.654 0.421 0.087 0.112 0.194
 0.758 0.291 0.696 0.095 0.863 0.683 0.363 0.195 0.883 0.764 0.329 0.184
 0.532 0.155 0.801 0.74  0.389 0.15  0.671 0.795 0.595 0.327 0.164 0.297
 0.777 0.296 0.541 0.341 0.689 0.545 0.188 0.815 0.181 0.714 0.397 0.865
 0.336 0.559 0.045 0.788 0.804 0.428 0.687 0.741 0.717 0.706 0.856 0.068
 0.62  0.603 0.172 0.293 0.405 0.178 0.918 0.768 0.861 0.917 0.91  0.847
 0.024 0.528 0.294 0.525 0.102 0.053 0.403 0.902 0.585 0.12  0.3   0.664
 0.183 0.208 0.16  0.721 0.72  0.581 0.666 0.884 0.27  0.765 0.832 0.7
 0.713 0.805 0.812 0.32  0.796 0.8   0.314 0.169 0.393 0.325 0.752 0.222
 0.753 0.162 0.553 0.332 0.723 0.277 0.416 0.328 0.241 0.614 0.778 0.186
 0.094 0.305 0.292 0.191 0.903 0.729 0.659 0.613 0.29  0.658 0.761 0.18
 0.639 0.531 0.793 0.712 0.259 0.679 0.641 0.254 0.42  0.129 0.163 0.56
 0.151 0.635 0.283 0.221 0.837 0.638 0.143 0.627 0.08  0.173 0.279 0.378
 0.391 0.619 0.408 0.213 0.769 0.688 0.677 0.373 0.23  0.775 0.647 0.912
 0.123 0.84  0.103 0.573 0.923 0.067 0.845 0.388 0.798 0.385 0.809 0.05
 0.899 0.207 0.684 0.748 0.321 0.343 0.823 0.035 0.199 0.433 0.66  0.033
 0.122 0.784 0.192 0.236 0.24  0.214 0.58  0.885 0.846 0.574 0.34  0.598
 0.908 0.685 0.859 0.615 0.205 0.337 0.253 0.711 0.738 0.609 0.187 0.145
 0.399 0.675 0.318 0.043 0.879 0.774 0.04  0.702 0.267 0.166 0.31  0.133
 0.555 0.57  0.708 0.781 0.838 0.693 0.368 0.13  0.875 0.306 0.285 0.586
 0.715 0.569 0.144 0.543 0.015 0.722 0.038 0.767 0.175 0.168 0.869 0.827
 0.648 0.357 0.138 0.104 0.148 0.583 0.932 0.313 0.299 0.083 0.843 0.93
 0.1   0.601 0.065 0.257 0.284 0.571 0.347 0.147 0.862 0.894 0.046 0.404
 0.825 0.118 0.411 0.106 0.052 0.092 0.204 0.625 0.718 0.072 0.179 0.727
 0.521 0.589 0.668 0.056 0.278 0.552 0.821 0.099 0.074 0.119 0.132 0.165
 0.075 0.85  0.117 0.605 0.653 0.851 0.933 0.28  0.665 0.423 0.161 0.078
 0.836 0.031 0.351 0.5   0.548 0.126 0.6   0.591 0.632 0.197 0.763 0.156
 0.07  0.889 0.356 0.77  0.073 0.093 0.316 0.43  0.652 0.085 0.646 0.076
 0.041 0.745 0.888 0.526 0.782 0.362 0.268 0.422 0.597 0.149 0.634 0.701
 0.692 0.424 0.874 0.432 0.876 0.73  0.71  0.881 0.593 0.243 0.232 0.612
 0.212 0.53  0.755 0.084 0.818 0.896 0.248 0.747 0.115 0.596 0.211 0.703
 0.663 0.848 0.058 0.914 0.185 0.75  0.157 0.557 0.057 0.892 0.027 0.079
 0.611 0.048 0.044 0.913 0.547 0.633 0.844 0.567 0.38  0.642 0.686 0.523
 0.369 0.578 0.895 0.599 0.694 0.592 0.549 0.274 0.382 0.941 0.527 0.152
 0.124 0.097 0.922 0.127 0.413 0.096 0.562 0.534 0.128 0.645 0.344 0.572
 0.617 0.141 0.629 0.644 0.09  0.871 0.568 0.732 0.628 0.602 0.676 0.089
 0.9   0.878 0.042 0.926 0.376 0.695 0.672 0.071 0.037 0.395 0.576 0.054
 0.077 0.113 0.82  0.565 0.136 0.062 0.556 0.529 0.536 0.673 0.524 0.167
 0.544 0.088 0.511 0.522 0.636 0.919 0.52  0.051 0.125 0.607 0.372 0.055
 0.419 0.131 0.036 0.109 0.417 0.091 0.539 0.579 0.915 0.064 0.542 0.621
 0.61  0.203 0.535 0.047 0.866 0.082 0.924 0.92  0.744 0.927 0.11  0.061
 0.882 0.414 0.577 0.025 0.059 0.02  0.518 0.066 0.019 0.519 0.418 0.425
 0.604 0.013 0.431 0.374 0.016 0.409 0.928 0.032 0.028 0.441 0.921 0.022
 0.909 0.512 0.407 0.121 0.931 0.537 0.049 0.426 0.03  0.023 0.429 0.017
 0.018 0.517 0.939 0.034 0.929 0.516 0.012 0.427 0.014 0.937 0.447]

Column : c2_rated

Number of unique values : 851
Null values : 5655
[0.349 0.237 0.111 0.323 0.94    nan 0.275 0.264 0.286 0.901 0.584 0.69
 0.276 0.317 0.242 0.392 0.159 0.093 0.101 0.238 0.791 0.799 0.375 0.814
 0.359 0.231 0.315 0.872 0.762 0.546 0.245 0.826 0.069 0.733 0.667 0.616
 0.406 0.905 0.789 0.891 0.898 0.229 0.114 0.699 0.756 0.792 0.759 0.63
 0.644 0.333 0.177 0.309 0.289 0.802 0.835 0.339 0.783 0.201 0.831 0.252
 0.226 0.182 0.078 0.33  0.824 0.648 0.893 0.209 0.868 0.725 0.873 0.89
 0.345 0.575 0.355 0.886 0.904 0.633 0.384 0.223 0.751 0.773 0.17  0.651
 0.808 0.697 0.582 0.724 0.271 0.743 0.55  0.561 0.822 0.664 0.21  0.241
 0.307 0.662 0.287 0.916 0.793 0.171 0.198 0.661 0.196 0.322 0.386 0.379
 0.618 0.551 0.813 0.134 0.135 0.251 0.108 0.063 0.907 0.273 0.79  0.854
 0.911 0.302 0.655 0.367 0.698 0.86  0.107 0.19  0.801 0.288 0.394 0.194
 0.877 0.335 0.807 0.348 0.432 0.361 0.026 0.54  0.794 0.842 0.402 0.817
 0.412 0.153 0.566 0.834 0.266 0.853 0.304 0.262 0.87  0.779 0.829 0.22
 0.4   0.657 0.334 0.766 0.06  0.704 0.316 0.365 0.734 0.819 0.381 0.707
 0.353 0.021 0.716 0.154 0.215 0.36  0.728 0.176 0.785 0.331 0.26  0.385
 0.786 0.906 0.624 0.326 0.227 0.59  0.65  0.189 0.261 0.865 0.272 0.828
 0.606 0.587 0.626 0.352 0.839 0.206 0.811 0.746 0.247 0.269 0.684 0.855
 0.754 0.396 0.897 0.895 0.88  0.656 0.678 0.255 0.311 0.867 0.564 0.312
 0.146 0.174 0.714 0.757 0.281 0.301 0.849 0.554 0.62  0.081 0.806 0.608
 0.234 0.712 0.749 0.772 0.841 0.776 0.342 0.282 0.2   0.859 0.377 0.674
 0.401 0.358 0.887 0.68  0.    0.669 0.64  0.735 0.67  0.239 0.35  0.387
 0.719 0.235 0.233 0.816 0.691 0.761 0.354 0.787 0.364 0.705 0.398 0.681
 0.765 0.029 0.105 0.228 0.852 0.742 0.116 0.324 0.319 0.244 0.346 0.265
 0.14  0.224 0.81  0.533 0.258 0.558 0.572 0.216 0.218 0.298 0.294 0.303
 0.864 0.637 0.643 0.249 0.857 0.217 0.739 0.622 0.415 0.538 0.588 0.623
 0.682 0.594 0.736 0.193 0.709 0.256 0.219 0.76  0.833 0.771 0.295 0.142
 0.83  0.649 0.308 0.41  0.366 0.137 0.37  0.279 0.514 0.158 0.654 0.421
 0.087 0.112 0.738 0.758 0.383 0.291 0.696 0.095 0.863 0.683 0.363 0.296
 0.195 0.883 0.764 0.329 0.184 0.211 0.532 0.74  0.389 0.15  0.671 0.795
 0.595 0.164 0.263 0.297 0.777 0.541 0.341 0.689 0.545 0.673 0.181 0.397
 0.889 0.336 0.559 0.045 0.788 0.804 0.687 0.741 0.726 0.717 0.706 0.856
 0.068 0.603 0.172 0.293 0.405 0.178 0.918 0.768 0.861 0.917 0.91  0.024
 0.528 0.525 0.102 0.053 0.403 0.585 0.12  0.3   0.183 0.208 0.16  0.721
 0.72  0.581 0.666 0.27  0.7   0.713 0.805 0.407 0.812 0.32  0.411 0.796
 0.39  0.858 0.8   0.314 0.169 0.325 0.752 0.222 0.753 0.162 0.553 0.775
 0.332 0.723 0.277 0.416 0.328 0.614 0.778 0.186 0.094 0.305 0.292 0.191
 0.729 0.659 0.613 0.29  0.658 0.086 0.639 0.531 0.797 0.679 0.641 0.254
 0.42  0.832 0.129 0.163 0.56  0.925 0.151 0.635 0.283 0.221 0.259 0.932
 0.837 0.212 0.638 0.143 0.627 0.08  0.173 0.378 0.391 0.619 0.879 0.408
 0.774 0.213 0.769 0.5   0.688 0.677 0.373 0.23  0.737 0.246 0.912 0.123
 0.84  0.139 0.103 0.573 0.393 0.923 0.18  0.067 0.845 0.388 0.798 0.809
 0.05  0.902 0.207 0.38  0.748 0.343 0.823 0.035 0.096 0.199 0.433 0.66
 0.033 0.122 0.784 0.225 0.192 0.236 0.24  0.214 0.847 0.58  0.885 0.574
 0.34  0.598 0.908 0.685 0.615 0.205 0.715 0.337 0.253 0.727 0.711 0.846
 0.875 0.187 0.145 0.676 0.399 0.675 0.318 0.043 0.267 0.731 0.04  0.702
 0.166 0.31  0.079 0.133 0.815 0.202 0.555 0.57  0.781 0.838 0.693 0.368
 0.248 0.597 0.13  0.896 0.057 0.306 0.285 0.586 0.569 0.543 0.722 0.038
 0.767 0.088 0.175 0.168 0.869 0.827 0.357 0.138 0.104 0.148 0.583 0.313
 0.299 0.083 0.843 0.93  0.1   0.601 0.321 0.065 0.899 0.257 0.284 0.571
 0.347 0.147 0.862 0.894 0.046 0.404 0.338 0.825 0.118 0.106 0.052 0.092
 0.204 0.695 0.625 0.718 0.612 0.066 0.521 0.076 0.589 0.668 0.609 0.552
 0.821 0.099 0.074 0.119 0.132 0.165 0.075 0.85  0.117 0.605 0.653 0.851
 0.933 0.28  0.903 0.179 0.665 0.423 0.161 0.836 0.031 0.351 0.126 0.6
 0.591 0.602 0.632 0.197 0.763 0.156 0.07  0.356 0.77  0.073 0.43  0.652
 0.085 0.646 0.041 0.745 0.701 0.526 0.782 0.362 0.268 0.563 0.149 0.634
 0.692 0.874 0.876 0.73  0.327 0.71  0.155 0.881 0.593 0.243 0.232 0.53
 0.755 0.084 0.818 0.747 0.115 0.596 0.547 0.703 0.25  0.663 0.848 0.058
 0.914 0.424 0.185 0.75  0.157 0.557 0.371 0.892 0.027 0.611 0.278 0.044
 0.913 0.844 0.567 0.642 0.686 0.523 0.369 0.578 0.599 0.152 0.694 0.592
 0.549 0.417 0.274 0.382 0.941 0.527 0.78  0.124 0.428 0.097 0.127 0.548
 0.562 0.128 0.542 0.645 0.919 0.344 0.188 0.429 0.091 0.617 0.141 0.803
 0.629 0.09  0.884 0.871 0.568 0.732 0.017 0.628 0.647 0.089 0.9   0.878
 0.042 0.926 0.376 0.708 0.071 0.098 0.672 0.576 0.054 0.113 0.82  0.565
 0.136 0.062 0.556 0.121 0.529 0.536 0.048 0.524 0.167 0.922 0.544 0.422
 0.511 0.522 0.636 0.52  0.051 0.125 0.607 0.372 0.419 0.131 0.036 0.077
 0.621 0.539 0.579 0.015 0.888 0.915 0.144 0.61  0.517 0.203 0.535 0.534
 0.047 0.409 0.866 0.395 0.082 0.924 0.92  0.744 0.927 0.11  0.061 0.072
 0.413 0.414 0.577 0.025 0.059 0.631 0.604 0.02  0.518 0.109 0.064 0.055
 0.056 0.519 0.039 0.418 0.425 0.374 0.013 0.431 0.016 0.882 0.928 0.032
 0.028 0.441 0.537 0.022 0.909 0.512 0.931 0.049 0.019 0.427 0.03  0.023
 0.037 0.921 0.018 0.426 0.939 0.034 0.516 0.014 0.012 0.444 0.937 0.447]

Column : Contact_age

Number of unique values : 3430
Null values : 3522
[3133. 1730.  759. ... 3420. 3933. 2296.]

Column : Product_bought

Number of unique values : 23
Null values : 0
[ 2.  5.  4.  1.  3.  6.  8.  0.  9.  7. 10. 23. 11. 12. 14. 17. 16. 15.
 22. 26. 19. 20. 13.]

# Null Values in test

1. Compensation 2750
2. Annuity_amt  1963
3. density_Ind  2275
4. Home_Appliances 4759
5. Experience      9351
6. company_rating  5053
7. c1_rated        7363
8. c2_rated        5655
9. Contact_age     3522

# Not null values in test dataset

1. Loan_amt
2. Dependents 
3. Age
4. hour_process
5. Product_bought

In [20]:
#  Train Dataset
for i in num:
    print("Column :",i, "\n")
    print("Number of unique values :", train[i].nunique())
    print("Null values :", train[i].isna().sum())
    
    print(train[i].unique(), "\n")

Column : Compensation

Number of unique values : 84095
Null values : 6242
[ 801850.  884222.  284120. ... 1471170.  613585.  533725.]

Column : Loan_amt

Number of unique values : 119260
Null values : 0
[658040.  198075.  101056.  ... 640232.  528490.2 330222. ]

Column : Annuity_amt

Number of unique values : 117192
Null values : 4611
[13816.52 11173.06  8390.4  ... 11587.54 13008.76 10250.65]

Column : density_Ind

Number of unique values : 417
Null values : 5416
[3.0400e-02 1.9400e-02 1.1800e-02 3.7300e-02 1.3800e-02 2.3600e-02
 8.9000e-03 6.2000e-03 3.6800e-02 3.4500e-02 4.8000e-03 8.0000e-04
 2.1000e-02 1.7000e-03 1.0500e-02 3.6500e-02 3.0300e-02 5.7000e-03
        nan 1.7200e-02 3.5100e-02 7.9000e-03 2.0000e-03 1.5500e-02
 1.5700e-02 1.4800e-02 1.9000e-03 4.9000e-03 2.7700e-02 2.4200e-02
 1.2500e-02 2.7200e-02 2.0200e-02 2.5000e-02 2.5700e-02 8.1000e-03
 1.6800e-02 3.2700e-02 3.1700e-02 9.2000e-03 2.2300e-02 1.6200e-02
 1.0900e-02 5.2000e-03 2.9300e-02 2.2600e-02 1.7700e-02 3.9100e-02
 2.6600e-02 2.9200e-02 1.4000e-03 6.9000e-03 3.8600e-02 1.8900e-02
 2.7500e-02 4.0100e-02 2.5600e-02 2.0500e-02 3.1000e-02 1.7000e-02
 2.6200e-02 2.4500e-02 2.4300e-02 2.8100e-02 2.6800e-02 2.4000e-02
 8.2000e-03 1.5000e-02 3.5500e-02 2.0300e-02 1.1100e-02 2.1100e-02
 1.9600e-02 1.3900e-02 2.3000e-02 3.1600e-02 9.0000e-03 8.6000e-03
 3.9200e-02 8.3000e-03 7.8000e-03 3.0700e-02 3.4600e-02 7.5000e-03
 2.0900e-02 8.8000e-03 2.0400e-02 4.0000e-02 2.5100e-02 1.1000e-02
 3.9500e-02 3.4000e-03 3.2000e-03 1.9900e-02 3.9400e-02 3.4100e-02
 1.2600e-02 7.7000e-03 3.2800e-02 2.0600e-02 3.6700e-02 8.0000e-03
 1.6300e-02 7.1000e-03 2.2500e-02 2.1400e-02 2.7600e-02 2.9700e-02
 1.5200e-02 2.4600e-02 1.5600e-02 1.2000e-03 3.4300e-02 2.5200e-02
 1.8100e-02 2.4400e-02 2.5900e-02 5.1000e-03 2.7400e-02 2.3700e-02
 2.6000e-03 1.3500e-02 3.7400e-02 1.6000e-02 4.6000e-03 1.5400e-02
 2.2400e-02 6.6000e-03 4.1000e-03 1.7500e-02 3.2200e-02 3.1500e-02
 6.8000e-03 1.4900e-02 4.5000e-03 3.5700e-02 3.3000e-03 1.0300e-02
 8.4000e-03 3.1900e-02 7.4000e-03 3.3400e-02 3.8000e-02 1.2200e-02
 3.5200e-02 9.1000e-03 6.5000e-03 3.1400e-02 2.2700e-02 1.9500e-02
 3.8500e-02 3.8000e-03 3.5000e-02 3.6600e-02 3.6900e-02 2.8400e-02
 1.2700e-02 3.9000e-02 3.4700e-02 2.5800e-02 9.9000e-03 3.2300e-02
 1.0700e-02 1.0200e-02 1.4200e-02 2.6000e-02 1.2900e-02 3.0000e-03
 2.5300e-02 2.7000e-03 3.9600e-02 1.6600e-02 2.4100e-02 2.4000e-03
 2.7300e-02 3.5600e-02 3.1300e-02 2.8600e-02 2.6900e-02 3.6000e-02
 2.3200e-02 9.7000e-03 3.7000e-02 3.7000e-03 3.7200e-02 2.3400e-02
 2.9600e-02 3.3500e-02 1.8400e-02 3.2100e-02 3.1100e-02 3.3900e-02
 3.1000e-03 2.9100e-02 2.7800e-02 2.4700e-02 2.9900e-02 5.6000e-03
 9.8000e-03 3.9000e-03 2.5000e-03 6.0000e-04 1.2000e-02 4.0000e-03
 2.5500e-02 2.6300e-02 1.7300e-02 2.9800e-02 2.1800e-02 3.1800e-02
 9.6000e-03 4.0200e-02 5.4000e-03 4.4000e-03 2.1200e-02 1.0600e-02
 1.4600e-02 3.4900e-02 5.0000e-03 2.3000e-03 6.0000e-03 2.9000e-02
 2.1600e-02 1.9200e-02 3.2900e-02 1.3100e-02 1.5800e-02 1.3300e-02
 2.1000e-03 3.3700e-02 3.7800e-02 1.8800e-02 3.3000e-02 3.0900e-02
 2.9500e-02 2.1300e-02 1.7900e-02 2.8900e-02 4.2000e-03 2.3900e-02
 1.8000e-03 1.5300e-02 9.0000e-04 2.1900e-02 1.7600e-02 1.4700e-02
 9.3000e-03 7.6000e-03 8.5000e-03 1.1400e-02 3.2000e-02 2.1700e-02
 1.8600e-02 3.9300e-02 2.4800e-02 3.3800e-02 1.9300e-02 1.4300e-02
 2.3800e-02 2.9400e-02 3.2500e-02 1.4000e-02 1.3000e-03 1.1500e-02
 3.4000e-02 3.5400e-02 1.8000e-02 2.7000e-02 1.1300e-02 1.9100e-02
 5.5000e-03 1.6000e-03 1.8700e-02 2.8800e-02 3.6200e-02 2.6400e-02
 6.4000e-03 1.3000e-02 2.7900e-02 2.2200e-02 3.3100e-02 3.3600e-02
 8.7000e-03 3.6400e-02 2.6700e-02 3.8400e-02 2.6500e-02 1.0400e-02
 7.0000e-03 3.0100e-02 1.3400e-02 3.8900e-02 2.2800e-02 4.0300e-02
 3.0500e-02 3.7900e-02 3.8800e-02 2.8200e-02 4.0600e-02 2.0800e-02
 2.0000e-02 3.6300e-02 2.1500e-02 3.9800e-02 3.8100e-02 7.0000e-04
 1.8500e-02 6.7000e-03 3.5800e-02 2.4900e-02 4.7000e-03 1.0800e-02
 2.2100e-02 2.8300e-02 9.4000e-03 2.8000e-03 1.1900e-02 3.3200e-02
 3.8700e-02 1.6500e-02 2.8000e-02 1.1600e-02 3.0600e-02 3.7600e-02
 2.3300e-02 1.7800e-02 5.8000e-03 3.5300e-02 2.3100e-02 1.9000e-02
 1.0000e-04 3.6100e-02 1.6100e-02 1.5000e-03 2.2900e-02 1.5900e-02
 1.7400e-02 6.3000e-03 3.7700e-02 3.8300e-02 9.5000e-03 1.6900e-02
 1.3200e-02 1.9800e-02 4.0500e-02 1.5100e-02 1.8200e-02 5.9000e-03
 1.4100e-02 1.8300e-02 2.0700e-02 7.2000e-03 2.3500e-02 3.5000e-03
 3.0000e-04 1.0100e-02 3.0200e-02 3.0800e-02 1.7100e-02 2.9000e-03
 1.3600e-02 1.2800e-02 2.8700e-02 5.0000e-04 3.9900e-02 3.3300e-02
 1.0000e-02 1.1000e-03 1.9700e-02 1.3700e-02 3.7500e-02 3.6000e-03
 2.7100e-02 1.4500e-02 2.6100e-02 4.3000e-03 7.3000e-03 3.4200e-02
 1.6700e-02 2.5400e-02 1.4400e-02 1.1700e-02 3.1200e-02 6.1000e-03
 4.0400e-02 1.0000e-03 4.0800e-02 4.0000e-04 3.5900e-02 3.0000e-02
 3.4400e-02 3.7100e-02 2.2000e-02 3.9700e-02 3.8200e-02 1.2400e-02
 1.2100e-02 2.0000e-04 3.2600e-02 1.1200e-02 2.2000e-03 5.3000e-03
 2.8500e-02 3.2400e-02 3.4800e-02 1.2300e-02 2.0100e-02 1.6400e-02
 4.1300e-02 4.1000e-02 4.0900e-02 4.1200e-02 4.0700e-02 4.1400e-02
 2.0178e+00 4.1100e-02 2.0156e+00 2.0033e+00]

Column : Home_Appliances

Number of unique values : 13
Null values : 10964
[nan  1.  4.  2.  3.  6.  5. 19. 10. 12.  7. 14.  9.  8.]

Column : Experience

Number of unique values : 446
Null values : 21845
[ 0.9  3.   nan  4.7  6.9 19.6  4.1 13.6  7.6  1.3  2.4  1.2 10.7  2.5
  5.3 12.8 18.7  1.7  3.9 12.  10.3  1.   6.3  7.7  5.7 10.5  7.9 13.3
  3.7  1.1 11.3  8.2  6.5  6.2  2.8  4.5  2.3  5.2  4.2  0.7 17.5  5.1
  7.1 13.8  5.   3.3 21.2 21.7  1.6  8.8  6.1 10.8 19.1 13.1 15.6 17.7
 10.   1.8 23.9 15.   3.4  7.8  5.6  8.   1.4  0.6 17.8  5.8 17.6 11.2
  1.9  9.8 35.1  6.6  4.6  3.6  4.9  7.5  3.2  9.7  5.5  9.6  3.8  0.5
  2.1  2.6  2.2  9.4 10.1  3.5  2.  11.9  1.5 29.2 11.1  6.  14.9 16.9
 22.   7.   2.9 13.9 24.1  0.3  4.4 11.6  9.3 10.4 16.   0.4  8.3  2.7
 34.   0.2  0.8 11.7  8.6  5.4 14.4  6.8 11.8 12.3  4.3  7.4 18.9  3.1
  9.  19.5 11.5  9.2 19.2 14.5  9.1 22.3  8.9  8.7 11.  17.3 13.2  6.4
  6.7  8.5  4.  14.1 23.4  8.4 20.1  5.9 23.2 15.5 12.6 21.4 20.3 12.9
  4.8 18.3 16.6 28.  16.5 12.4  8.1 18.2 21.5 26.5  7.2 29.6 10.9  9.9
 12.7 22.4 14.3 15.9 24.3 21.  31.9 35.4 16.7 29.4 13.  18.  14.6 23.5
 25.5 37.8 27.9 10.6 31.  28.2 18.8 28.3 11.4 13.4 13.5  7.3 12.2 14.
 33.3 32.8 25.6 10.2 20.5 15.8 29.  12.5 14.7  0.1 25.2 20.9 12.1 15.1
  9.5 24.5 30.8 31.7 14.8 34.2 35.6 26.4 17.  20.  38.1 15.3 17.2 23.3
 21.6 18.4 30.7 16.3 16.8 20.4 21.1 28.4 19.7 23.8 20.6 17.4 27.2 28.7
 27.1 38.3 29.9 36.1 37.4 25.  32.1 35.  26.2 13.7 15.4 19.3 30.9 26.1
 21.3 30.  25.4 25.9 15.7 19.8 35.7 15.2 24.6 21.8 16.4 23.1 33.8 31.2
 14.2 16.2 36.9 23.  19.9 28.8 30.2 39.2 22.8 32.9 32.5 37.5 18.1 29.3
 18.6 17.1 25.8 32.6 24.2 26.3 28.9 25.1 24.  28.1 22.5 29.7 24.8 41.9
 31.3 18.5 22.2 34.5 20.2 23.7 26.7 16.1 39.1 35.2 33.1 38.5 20.7 28.5
 40.3 40.6 27.8 32.4 27.6 42.3 20.8 22.7 29.1 33.  30.6 17.9 37.2 24.4
 35.8 25.7 23.6 35.5 30.4 33.2 21.9 34.9 31.1 26.  31.8 19.4 26.6 30.1
 43.1 27.4 32.  24.9 34.1 32.2 39.  22.6 38.  41.2 32.3 26.8 27.  31.6
 37.3 38.4 39.4 22.1 29.5 22.9 41.4 25.3 27.5 48.  29.8 26.9 31.4 30.5
 33.6 36.2 31.5 34.6 24.7  0.  37.9 37.1 36.6 32.7 27.7 19.  33.5 27.3
 39.9 34.7 39.6 30.3 37.7 35.9 38.8 33.4 28.6 41.5 39.3 39.8 34.3 36.
 40.1 36.5 34.4 40.5 33.7 45.1 36.4 38.9 40.  39.7 33.9 41.  35.3 36.8
 42.4 36.3 36.7 44.7 37.  44.8 42.  42.2 42.7 41.3 38.7 34.8 43.3 41.7
 40.7 40.4 44.9 48.1 38.2 40.2 42.5 47.  43.9 43.  44.1 39.5 42.8 45.7
 44.2 37.6 45.6 45.2 43.6 40.8 43.4 42.9 45.3 40.9 44.3 41.1 46.2]

Column : Dependents

Number of unique values : 9
Null values : 0
[3. 2. 4. 1. 5. 6. 8. 7. 9.]

Column : Company_Rating

Number of unique values : 3
Null values : 11731
[ 2.  1.  3. nan]

Column : Age

Number of unique values : 49
Null values : 0
[46. 57. 39. 32. 43. 36. 50. 52. 34. 24. 23. 59. 65. 30. 35. 45. 44. 48.
 31. 41. 47. 56. 51. 27. 29. 40. 37. 28. 55. 62. 53. 38. 63. 64. 49. 66.
 61. 68. 42. 33. 21. 58. 60. 26. 25. 67. 54. 22. 69.]

Column : hour_Process

Number of unique values : 26
Null values : 0
[10. 12.  5. 16. 14.  9.  8. 11. 13. 15.  6. 18. 20. 17.  7. 19.  2.  3.
  1.  4.  0. 22. 21. 24. 23. 25.]

Column : c1_rated

Number of unique values : 869
Null values : 17513
[0.077 0.184 0.538   nan 0.703 0.142 0.669 0.91  0.757 0.569 0.258 0.723
 0.13  0.118 0.216 0.122 0.631 0.891 0.786 0.381 0.367 0.555 0.405 0.41
 0.257 0.311 0.796 0.336 0.908 0.165 0.567 0.174 0.    0.765 0.893 0.649
 0.837 0.831 0.272 0.788 0.749 0.237 0.693 0.568 0.815 0.147 0.716 0.132
 0.666 0.196 0.735 0.319 0.379 0.911 0.305 0.361 0.14  0.898 0.287 0.613
 0.385 0.29  0.068 0.371 0.076 0.792 0.233 0.801 0.262 0.63  0.273 0.278
 0.731 0.692 0.696 0.798 0.269 0.186 0.712 0.751 0.201 0.329 0.706 0.592
 0.754 0.787 0.618 0.855 0.402 0.678 0.126 0.255 0.078 0.77  0.314 0.673
 0.644 0.342 0.62  0.212 0.351 0.247 0.294 0.805 0.899 0.354 0.769 0.629
 0.846 0.171 0.852 0.768 0.159 0.752 0.096 0.195 0.3   0.251 0.218 0.198
 0.743 0.614 0.108 0.697 0.391 0.795 0.642 0.187 0.107 0.818 0.655 0.595
 0.865 0.242 0.036 0.399 0.866 0.836 0.838 0.326 0.585 0.573 0.79  0.246
 0.537 0.409 0.605 0.686 0.862 0.253 0.762 0.324 0.285 0.884 0.896 0.763
 0.234 0.31  0.658 0.564 0.594 0.393 0.248 0.359 0.296 0.817 0.847 0.241
 0.264 0.702 0.089 0.243 0.783 0.85  0.589 0.162 0.68  0.906 0.842 0.607
 0.416 0.545 0.772 0.804 0.5   0.785 0.87  0.88  0.675 0.209 0.7   0.384
 0.709 0.266 0.869 0.12  0.178 0.219 0.546 0.886 0.663 0.774 0.169 0.741
 0.691 0.86  0.34  0.593 0.334 0.25  0.215 0.388 0.806 0.764 0.2   0.829
 0.885 0.721 0.235 0.362 0.835 0.745 0.671 0.109 0.67  0.277 0.062 0.56
 0.69  0.112 0.895 0.789 0.047 0.602 0.299 0.183 0.73  0.39  0.861 0.841
 0.661 0.889 0.8   0.653 0.742 0.301 0.224 0.82  0.873 0.072 0.113 0.281
 0.051 0.284 0.276 0.912 0.339 0.188 0.616 0.164 0.417 0.313 0.322 0.71
 0.626 0.867 0.055 0.724 0.799 0.791 0.43  0.689 0.337 0.306 0.059 0.317
 0.355 0.825 0.175 0.016 0.19  0.667 0.207 0.32  0.74  0.203 0.919 0.876
 0.797 0.087 0.824 0.1   0.17  0.155 0.679 0.758 0.166 0.365 0.75  0.811
 0.72  0.289 0.353 0.238 0.307 0.598 0.64  0.292 0.363 0.406 0.422 0.357
 0.746 0.828 0.856 0.167 0.699 0.148 0.125 0.032 0.744 0.374 0.271 0.543
 0.528 0.349 0.345 0.423 0.853 0.259 0.794 0.781 0.652 0.753 0.265 0.377
 0.202 0.822 0.172 0.386 0.688 0.535 0.103 0.687 0.534 0.135 0.863 0.07
 0.708 0.163 0.875 0.722 0.839 0.826 0.734 0.403 0.15  0.586 0.623 0.364
 0.084 0.833 0.229 0.36  0.932 0.37  0.812 0.759 0.309 0.375 0.819 0.84
 0.659 0.9   0.813 0.231 0.747 0.213 0.347 0.23  0.335 0.635 0.654 0.066
 0.185 0.76  0.552 0.275 0.803 0.907 0.181 0.81  0.154 0.396 0.137 0.382
 0.21  0.808 0.387 0.802 0.738 0.643 0.936 0.674 0.713 0.782 0.777 0.881
 0.784 0.766 0.882 0.254 0.684 0.66  0.665 0.194 0.328 0.584 0.318 0.419
 0.916 0.539 0.548 0.346 0.843 0.578 0.189 0.308 0.098 0.205 0.176 0.541
 0.06  0.761 0.099 0.647 0.249 0.029 0.879 0.698 0.609 0.404 0.312 0.333
 0.622 0.639 0.677 0.89  0.646 0.304 0.179 0.015 0.611 0.217 0.725 0.773
 0.901 0.728 0.27  0.204 0.338 0.392 0.714 0.705 0.407 0.597 0.767 0.395
 0.358 0.348 0.608 0.245 0.283 0.638 0.332 0.22  0.887 0.227 0.223 0.737
 0.368 0.297 0.719 0.267 0.606 0.143 0.376 0.701 0.711 0.105 0.302 0.864
 0.341 0.648 0.524 0.074 0.694 0.877 0.114 0.298 0.352 0.282 0.814 0.857
 0.058 0.59  0.755 0.917 0.816 0.704 0.4   0.636 0.389 0.094 0.316 0.619
 0.128 0.295 0.106 0.38  0.779 0.372 0.323 0.236 0.897 0.35  0.923 0.664
 0.124 0.325 0.16  0.941 0.121 0.168 0.383 0.903 0.874 0.717 0.775 0.331
 0.261 0.624 0.617 0.633 0.793 0.729 0.123 0.412 0.116 0.93  0.553 0.809
 0.58  0.748 0.662 0.291 0.279 0.883 0.562 0.054 0.78  0.832 0.418 0.904
 0.073 0.037 0.049 0.807 0.268 0.733 0.718 0.256 0.208 0.672 0.288 0.05
 0.24  0.293 0.111 0.554 0.081 0.239 0.683 0.736 0.071 0.134 0.756 0.426
 0.131 0.563 0.373 0.356 0.274 0.771 0.571 0.151 0.408 0.905 0.871 0.628
 0.158 0.145 0.858 0.019 0.33  0.075 0.048 0.926 0.102 0.366 0.021 0.776
 0.561 0.739 0.193 0.206 0.844 0.778 0.303 0.695 0.645 0.574 0.582 0.83
 0.052 0.732 0.138 0.056 0.581 0.707 0.211 0.157 0.834 0.197 0.821 0.851
 0.849 0.868 0.848 0.199 0.845 0.615 0.161 0.576 0.657 0.144 0.232 0.668
 0.091 0.913 0.031 0.57  0.823 0.225 0.152 0.228 0.533 0.069 0.656 0.556
 0.579 0.153 0.065 0.369 0.432 0.933 0.129 0.221 0.315 0.854 0.141 0.327
 0.55  0.878 0.909 0.101 0.082 0.26  0.09  0.587 0.522 0.894 0.378 0.641
 0.888 0.061 0.398 0.286 0.263 0.191 0.133 0.892 0.343 0.859 0.827 0.085
 0.041 0.088 0.572 0.064 0.6   0.915 0.182 0.637 0.149 0.093 0.401 0.244
 0.173 0.547 0.156 0.226 0.625 0.08  0.612 0.61  0.017 0.095 0.726 0.039
 0.433 0.632 0.012 0.681 0.651 0.411 0.544 0.634 0.558 0.599 0.727 0.033
 0.94  0.177 0.682 0.428 0.583 0.252 0.529 0.146 0.119 0.214 0.947 0.28
 0.04  0.192 0.222 0.591 0.621 0.516 0.575 0.924 0.136 0.045 0.022 0.872
 0.604 0.596 0.092 0.565 0.922 0.676 0.918 0.321 0.65  0.715 0.588 0.42
 0.603 0.902 0.394 0.557 0.042 0.525 0.024 0.435 0.079 0.115 0.063 0.627
 0.526 0.104 0.344 0.18  0.54  0.551 0.025 0.03  0.928 0.413 0.057 0.577
 0.086 0.52  0.11  0.685 0.127 0.549 0.053 0.518 0.421 0.028 0.397 0.927
 0.038 0.044 0.117 0.414 0.027 0.531 0.014 0.083 0.046 0.536 0.425 0.415
 0.559 0.542 0.601 0.921 0.067 0.035 0.929 0.139 0.097 0.515 0.914 0.566
 0.043 0.441 0.026 0.519 0.513 0.018 0.44  0.92  0.53  0.013 0.527 0.931
 0.008 0.424 0.034 0.514 0.521 0.437 0.427 0.011 0.517 0.009 0.939 0.532
 0.509 0.937 0.02  0.925 0.006 0.448 0.511 0.523 0.439 0.431 0.429 0.512
 0.023 0.01  0.508 0.507 0.436 0.935]

Column : c2_rated

Number of unique values : 869
Null values : 13321
[0.077 0.184 0.538 0.561 0.2   0.703 0.142 0.669 0.91    nan 0.569 0.258
 0.723 0.13  0.755 0.118 0.216 0.122 0.314 0.631 0.891 0.786 0.381 0.367
 0.555 0.405 0.41  0.804 0.257 0.383 0.311 0.796 0.336 0.908 0.165 0.
 0.765 0.893 0.649 0.837 0.831 0.272 0.788 0.749 0.237 0.693 0.568 0.815
 0.147 0.716 0.132 0.666 0.735 0.319 0.379 0.911 0.14  0.898 0.287 0.613
 0.385 0.068 0.371 0.076 0.792 0.233 0.801 0.262 0.63  0.273 0.727 0.29
 0.278 0.731 0.227 0.692 0.149 0.196 0.696 0.798 0.269 0.712 0.606 0.785
 0.33  0.751 0.201 0.754 0.787 0.773 0.702 0.618 0.855 0.402 0.126 0.557
 0.255 0.078 0.77  0.164 0.673 0.644 0.168 0.342 0.62  0.212 0.351 0.247
 0.294 0.805 0.285 0.899 0.354 0.769 0.629 0.846 0.171 0.852 0.159 0.106
 0.752 0.096 0.195 0.3   0.251 0.218 0.198 0.859 0.614 0.305 0.108 0.697
 0.391 0.795 0.642 0.187 0.107 0.818 0.655 0.595 0.361 0.865 0.242 0.036
 0.399 0.836 0.838 0.326 0.585 0.573 0.79  0.748 0.246 0.537 0.409 0.686
 0.862 0.253 0.762 0.324 0.896 0.763 0.234 0.31  0.658 0.564 0.329 0.594
 0.393 0.248 0.359 0.83  0.296 0.817 0.847 0.241 0.757 0.264 0.089 0.243
 0.783 0.85  0.589 0.162 0.68  0.906 0.365 0.842 0.607 0.416 0.545 0.813
 0.772 0.5   0.87  0.88  0.675 0.209 0.355 0.7   0.384 0.266 0.869 0.12
 0.717 0.871 0.178 0.219 0.546 0.886 0.663 0.671 0.774 0.872 0.169 0.741
 0.691 0.86  0.34  0.043 0.593 0.334 0.826 0.25  0.215 0.388 0.806 0.37
 0.764 0.829 0.885 0.69  0.721 0.235 0.362 0.835 0.745 0.884 0.109 0.67
 0.737 0.277 0.062 0.844 0.56  0.112 0.895 0.789 0.047 0.602 0.299 0.183
 0.73  0.39  0.861 0.841 0.661 0.889 0.8   0.816 0.653 0.742 0.301 0.349
 0.224 0.82  0.725 0.873 0.102 0.072 0.75  0.113 0.281 0.079 0.719 0.527
 0.051 0.284 0.276 0.912 0.339 0.188 0.616 0.417 0.313 0.322 0.71  0.626
 0.867 0.333 0.724 0.211 0.799 0.791 0.43  0.689 0.337 0.306 0.743 0.059
 0.825 0.175 0.016 0.19  0.667 0.207 0.32  0.74  0.203 0.919 0.876 0.797
 0.824 0.244 0.1   0.17  0.679 0.758 0.166 0.811 0.72  0.289 0.353 0.238
 0.598 0.64  0.292 0.363 0.406 0.422 0.357 0.746 0.828 0.856 0.167 0.699
 0.148 0.125 0.032 0.744 0.374 0.271 0.543 0.528 0.345 0.423 0.853 0.768
 0.259 0.794 0.394 0.155 0.781 0.652 0.875 0.265 0.377 0.202 0.822 0.172
 0.386 0.688 0.535 0.103 0.687 0.534 0.135 0.863 0.708 0.163 0.722 0.839
 0.832 0.734 0.403 0.15  0.586 0.709 0.623 0.364 0.706 0.084 0.833 0.229
 0.36  0.812 0.759 0.309 0.375 0.622 0.819 0.84  0.659 0.231 0.747 0.213
 0.347 0.23  0.654 0.066 0.185 0.76  0.552 0.275 0.307 0.803 0.907 0.635
 0.181 0.81  0.154 0.396 0.137 0.382 0.21  0.808 0.387 0.802 0.738 0.643
 0.936 0.674 0.713 0.297 0.782 0.777 0.881 0.784 0.766 0.882 0.894 0.254
 0.684 0.66  0.665 0.328 0.584 0.318 0.576 0.419 0.916 0.9   0.539 0.548
 0.346 0.335 0.843 0.578 0.189 0.308 0.736 0.098 0.205 0.104 0.176 0.541
 0.06  0.761 0.099 0.647 0.249 0.029 0.879 0.698 0.398 0.609 0.605 0.225
 0.302 0.677 0.89  0.646 0.304 0.775 0.179 0.015 0.217 0.901 0.728 0.27
 0.317 0.204 0.338 0.392 0.705 0.407 0.597 0.395 0.729 0.358 0.348 0.608
 0.245 0.283 0.638 0.332 0.22  0.887 0.223 0.368 0.26  0.267 0.143 0.376
 0.701 0.711 0.105 0.864 0.341 0.648 0.524 0.624 0.074 0.694 0.194 0.877
 0.114 0.298 0.352 0.282 0.814 0.857 0.058 0.59  0.432 0.917 0.704 0.4
 0.636 0.389 0.094 0.316 0.619 0.128 0.295 0.753 0.38  0.779 0.372 0.323
 0.174 0.236 0.809 0.35  0.664 0.124 0.325 0.582 0.16  0.941 0.121 0.599
 0.903 0.874 0.331 0.261 0.136 0.617 0.633 0.793 0.412 0.116 0.93  0.239
 0.553 0.58  0.662 0.291 0.279 0.883 0.562 0.356 0.054 0.567 0.78  0.321
 0.418 0.904 0.073 0.037 0.049 0.807 0.733 0.718 0.256 0.208 0.672 0.05
 0.293 0.288 0.111 0.144 0.554 0.081 0.683 0.611 0.071 0.134 0.756 0.426
 0.131 0.563 0.373 0.274 0.404 0.771 0.571 0.151 0.408 0.54  0.905 0.628
 0.158 0.145 0.858 0.019 0.075 0.048 0.926 0.366 0.312 0.021 0.776 0.739
 0.193 0.206 0.778 0.303 0.932 0.695 0.645 0.574 0.199 0.052 0.732 0.138
 0.056 0.581 0.707 0.157 0.834 0.197 0.866 0.821 0.851 0.849 0.868 0.848
 0.845 0.615 0.161 0.657 0.232 0.668 0.039 0.913 0.823 0.152 0.228 0.533
 0.069 0.656 0.556 0.153 0.065 0.369 0.933 0.129 0.221 0.315 0.854 0.141
 0.327 0.55  0.878 0.604 0.909 0.101 0.123 0.082 0.641 0.09  0.897 0.587
 0.522 0.378 0.888 0.603 0.061 0.286 0.263 0.191 0.133 0.892 0.343 0.827
 0.083 0.041 0.24  0.088 0.572 0.678 0.064 0.6   0.915 0.182 0.637 0.186
 0.093 0.401 0.547 0.156 0.045 0.226 0.625 0.08  0.612 0.61  0.017 0.095
 0.714 0.07  0.726 0.632 0.012 0.681 0.651 0.411 0.544 0.634 0.565 0.923
 0.087 0.033 0.94  0.715 0.177 0.682 0.428 0.583 0.055 0.252 0.529 0.146
 0.119 0.214 0.947 0.28  0.04  0.192 0.222 0.591 0.621 0.516 0.173 0.575
 0.924 0.268 0.092 0.922 0.676 0.918 0.65  0.559 0.588 0.42  0.902 0.767
 0.042 0.525 0.024 0.592 0.596 0.063 0.627 0.526 0.18  0.551 0.601 0.022
 0.025 0.03  0.928 0.413 0.057 0.086 0.52  0.685 0.639 0.127 0.579 0.92
 0.549 0.053 0.518 0.421 0.028 0.57  0.397 0.927 0.085 0.038 0.044 0.117
 0.027 0.531 0.014 0.344 0.577 0.115 0.433 0.536 0.425 0.415 0.542 0.558
 0.921 0.067 0.035 0.929 0.11  0.139 0.097 0.515 0.914 0.566 0.091 0.532
 0.013 0.441 0.031 0.519 0.026 0.513 0.414 0.018 0.44  0.53  0.046 0.931
 0.939 0.008 0.424 0.437 0.034 0.514 0.521 0.427 0.011 0.517 0.009 0.023
 0.509 0.937 0.02  0.523 0.943 0.006 0.448 0.511 0.439 0.431 0.429 0.512
 0.435 0.01  0.436 0.508 0.507 0.935]

Column : Contact_age

Number of unique values : 3609
Null values : 8153
[  18.  306.  281. ... 3546. 3610. 3492.]

Column : Product_bought

Number of unique values : 25
Null values : 0
[ 2.  4.  6.  7.  3.  1.  5.  0.  8.  9. 11. 10. 14. 12. 20. 15. 13. 21.
 19. 22. 16. 24. 18. 17. 25.]

Column : Default

Number of unique values : 2
Null values : 0
[1. 0.]

#### Summary

# Null values

1. Compensation    6242
2. Annuity_amt     4611
3. density_Ind     5416
4. Home_Appliances 10964
5. Experience      21845
6. Company_Rating  11731
7. c1_rated        17513
8. c2_rated        13321
9. Contact_age     8153

# No null values

1. Loan_amt
2. Dependents
3. Age
4. hour_Process
5. Product_bought
6. Default

In [21]:
# 1test. Compensation Treatment

# Null values is fill using median.

test["Compensation"].fillna(test["Compensation"].median(), inplace = True)

print(test["Compensation"].isna().sum())

0

In [22]:
# 1. Compensation Treatment

# Null values is fill using median.

train["Compensation"].fillna(train["Compensation"].median(), inplace = True)

print(train["Compensation"].isna().sum())

0

In [23]:
 # 2test. Annuity_amt

# In the corresponding of loan amount we fill Annuity amount null values.

l_amt_test = test["Loan_amt"].value_counts().index
l_amt_test

Float64Index([179202.0, 123060.0, 163632.0, 178696.0, 204232.0, 220360.0,
              125100.0, 240960.0, 167070.0, 233360.0,
              ...
              330183.0, 664024.2, 556368.0, 346455.0, 714224.0,  64908.0,
              387195.0, 410704.7, 800900.0, 315112.0],
             dtype='float64', length=54064)

In [24]:
for i in l_amt_test:
    
    test.loc[(test["Loan_amt"] == i) & 
             (test["Annuity_amt"].isnull()), "Annuity_amt"] = test.loc[(test["Loan_amt"] == i),["Annuity_amt"]].median()[0]

In [25]:
test["Annuity_amt"].isnull().sum()

# null values are left because the loan_amt unique along Annuity_amt null values

1777

In [26]:
test["Annuity_amt"].fillna(test["Annuity_amt"].median(),inplace = True) 

#  Impute median in remaining null values.

print(test["Annuity_amt"].isnull().sum())

0

In [27]:
# 2. Annuity_amt

# In the corresponding of loan amount we fill Annuity amount null values.

l_amt = train["Loan_amt"].value_counts().index
l_amt

Float64Index([203112.0, 179760.0, 160195.0, 232160.0, 221248.0, 219611.0,
              355110.0, 174930.0, 216440.0, 204144.0,
              ...
              216482.7, 286445.5, 518565.6, 188485.0, 829788.4, 595448.0,
              294160.0,  95720.0, 195232.0, 669482.4],
             dtype='float64', length=119260)

In [28]:
for i in l_amt:
    
    train.loc[(train["Loan_amt"] == i) & 
             (train["Annuity_amt"].isnull()), "Annuity_amt"] = train.loc[(train["Loan_amt"] == i),["Annuity_amt"]].median()[0]

KeyboardInterrupt:

In [ ]:
train["Annuity_amt"].isnull().sum()

# null values are left because the loan_amt unique along Annuity_amt null values.

In [ ]:
train["Annuity_amt"].fillna(train["Annuity_amt"].median(),inplace = True) 

#  Impute median in remaining null values.

print(train["Annuity_amt"].isnull().sum())

In [ ]:
# 3test. density_Ind

# In the corresponding of Region we fill density_Ind null values.

region_test = test["Region"].value_counts().index
region_test

In [ ]:
for i in region_test:
    
    test.loc[(test["Region"] == i) & 
             (test["density_Ind"].isnull()), "density_Ind"] = test.loc[(test["Region"] == i),["density_Ind"]].median()[0]

In [ ]:
print(test["density_Ind"].isnull().sum())

In [ ]:
# 3. density_Ind

# In the corresponding of Region we fill density_Ind null values.


region = train["Region"].value_counts().index
region

In [ ]:
for i in region:
    
    train.loc[(train["Region"] == i) & 
             (train["density_Ind"].isnull()), "density_Ind"] = train.loc[(train["Region"] == i),["density_Ind"]].median()[0]

In [ ]:
print(train["density_Ind"].isnull().sum())

In [ ]:
# 4test. Home_Appliances

# Impute mode on the place null values beacuse appliances are not in half it is absolute value.
 
test["Home_Appliances"].fillna(test["Home_Appliances"].mode()[0], inplace =True)

print(test["Home_Appliances"].isna().sum())

In [ ]:
# 4. Home_Appliances

# Impute mode on the place null values beacuse appliances are not in half it is absolute value.
 
train["Home_Appliances"].fillna(train["Home_Appliances"].mode()[0], inplace =True)

print(train["Home_Appliances"].isna().sum())

In [ ]:
# 5test. Experience
 
# Impute median in the corresponding of age in place of null values.
 
age_test = test["Age"].value_counts().index
age_test

In [ ]:
for i in age_test:
    
    test.loc[(test["Age"] == i) & 
             (test["Experience"].isnull()), "Experience"] = test.loc[(test["Age"] == i),["Experience"]].median()[0]

In [ ]:
print(test["Experience"].isnull().sum())

In [ ]:
# 5. Experience

# Impute median in the corresponding of age in place of null values.
 
age = train["Age"].value_counts().index
age

In [ ]:
for i in age:
    
    train.loc[(train["Age"] == i) & 
             (train["Experience"].isnull()), "Experience"] = train.loc[(train["Age"] == i),["Experience"]].median()[0]

In [ ]:
print(train["Experience"].isnull().sum())

In [ ]:
# 6test. Company_Rating

# Impute median on the place of null values.

test["Company_Rating"].fillna(test["Company_Rating"].median(), inplace =True)

print(test["Company_Rating"].isna().sum())

In [ ]:
# 6. Company_Rating

# Impute median on the place of null values.

train["Company_Rating"].fillna(train["Company_Rating"].median(), inplace =True)

print(train["Company_Rating"].isna().sum())

In [ ]:
# 7test. c1_rated

# Impute median on the place of null values.

test["c1_rated"].fillna(test["c1_rated"].median(), inplace =True)

print(test["c1_rated"].isna().sum())

In [ ]:
# 7. c1_rated

# Impute median on the place of null values.

train["c1_rated"].fillna(train["c1_rated"].median(), inplace =True)

print(train["c1_rated"].isna().sum())

In [ ]:
# 8test. c2_rated

# Impute median on the place of null values.

test["c2_rated"].fillna(test["c2_rated"].median(), inplace =True)

print(test["c2_rated"].isna().sum())

In [ ]:
# 8. c2_rated

# Impute median on the place of null values.

train["c2_rated"].fillna(train["c2_rated"].median(), inplace =True)

print(train["c2_rated"].isna().sum())

In [ ]:
# 9test. Contact_age

# Impute median on the place of null values.

test["Contact_age"].fillna(test["Contact_age"].median(), inplace =True)
print(test["Contact_age"].isna().sum())

In [ ]:
# 9. Contact_age

# Impute median on the place of null values.

train["Contact_age"].fillna(train["Contact_age"].median(), inplace =True)
print(train["Contact_age"].isna().sum())

#### Treatment of Categorical columns

In [ ]:
cat_test = test.select_dtypes(include = "O").columns
print(cat_test)

In [ ]:
for i in cat_test:
    print("Column :",i, "\n")
    print("Number of unique values :", test[i].nunique())
    print("Null values :", test[i].isna().sum())
    
    print(test[i].unique(), "\n")

# Null value columns in test dataset.

1. Vehicle_Status 3883
2. Job_Type       4320
3. Prop_List      911
4. Credit_Inq     1166
5. Income_Alt     3299

# Not null 

1. Default_hist
2. Region_Type
3. Education_det
4. Marital_Stat
5. Gen
6. Credit_Lnks
7. Day_Process
8. Ph.No
9. Type_Loan
10. Region
11. Addr_permanent
12. Permanent_Addr_tag

In [ ]:
cat = train.select_dtypes(include = "O").columns
print(cat)

In [ ]:
for i in cat:
    print("Column :",i, "\n")
    print("Number of unique values :", train[i].nunique())
    print("Null values :", train[i].isna().sum())
    
    print(train[i].unique(), "\n")

#### Summary

Null values

1. Vehicle_Status 9104
2. Job_Type       10248
3. Prop_List      1965
4. Credit_Inq     2690
5. Income_Alt     7682

Not Null

1.  Default_hist
2.  Region_Type
3.  Education_det
4.  Marital_Stat
5.  Gen
6.  Credit_Lnks
7.  Day_Process
8.  Ph.No
9.  Type_Loan
10. Region
11. Addr_permanent
12. Permanent_Addr_tag

In [ ]:
# 1test. Vehicle_Status

# Impute mode on the place of null values.

test["Vehicle_Status"].fillna(test["Vehicle_Status"].mode()[0], inplace = True)
test["Vehicle_Status"].isna().sum()

In [ ]:
# 1. Vehicle_Status

# Impute mode on the place of null values.

train["Vehicle_Status"].fillna(train["Vehicle_Status"].mode()[0], inplace = True)
train["Vehicle_Status"].isna().sum()

In [ ]:
# 2test. Job_Type

# Impute mode on the place of null values.

test["Job_Type"].fillna(test["Job_Type"].mode()[0], inplace = True)

test["Job_Type"].isna().sum()

In [ ]:
# 2. Job_Type

# Impute mode on the place of null values.

train["Job_Type"].fillna(train["Job_Type"].mode()[0], inplace = True)

train["Job_Type"].isna().sum()

In [ ]:
# 3test. Prop_List

# Impute mode on the place of null values.

test["Prop_List"].fillna(test["Prop_List"].mode()[0], inplace = True)

test["Prop_List"].isna().sum()

In [ ]:
# 3. Prop_List

# Impute mode on the place of null values.

train["Prop_List"].fillna(train["Prop_List"].mode()[0], inplace = True)

train["Prop_List"].isna().sum()

In [ ]:
# 4test. Credit_Inq

# Impute mode on the place of null values.

test["Credit_Inq"].fillna(test["Credit_Inq"].mode()[0], inplace = True)

test["Credit_Inq"].isna().sum()

In [ ]:
# 4. Credit_Inq

# Impute mode on the place of null values.

train["Credit_Inq"].fillna(train["Credit_Inq"].mode()[0], inplace = True)

train["Credit_Inq"].isna().sum()

In [ ]:
# 5test. Income_Alt

# Impute mode on the place of null values.

test["Income_Alt"].fillna(test["Income_Alt"].mode()[0], inplace = True)

test["Income_Alt"].isna().sum()

In [ ]:
# 5. Income_Alt

# Impute mode on the place of null values.

train["Income_Alt"].fillna(train["Income_Alt"].mode()[0], inplace = True)

train["Income_Alt"].isna().sum()

In [ ]:
test.isna().sum()

#  There is no null value present in our data.

In [ ]:
train.isna().sum()

#  There is no null value present in our data.


## 2. Exploratory Data Analyis

### Univariate Analysis

In [ ]:
#test.  Change the datatypes of numerical values.

test["Age"] = test["Age"].astype("int")

test["hour_Process"] = test["hour_Process"].astype("int")

test["Contact_age"] = test["Contact_age"].astype("int")

In [ ]:
# Change the datatypes of numerical values.

train["Age"] = train["Age"].astype("int")

train["hour_Process"] = train["hour_Process"].astype("int")

train["Contact_age"] = train["Contact_age"].astype("int")
 
train["Default"] = train["Default"].astype("int")

In [ ]:
# List of Nunerical columns

n_test = ['Compensation', 'Loan_amt', 'Annuity_amt', 'density_Ind',
        'Experience', 'Age','hour_Process', 'c1_rated', 'c2_rated', 'Contact_age']

In [ ]:
#  Distplot for numerical columns.

a = 4
b = 3
c= 1
plt.figure(figsize=[15,15])
for i in n_test:
    plt.subplot(a,b,c)
    sns.distplot(test[i]) 
    plt.axvline(x=test[i].mean(),color='red')
    plt.axvline(x=test[i].median(),color='green')
    c=c+1
plt.tight_layout()
plt.show()

# Red represent mean.
# Green represent median.

In [ ]:
# List of Nunerical columns

n = ['Compensation', 'Loan_amt', 'Annuity_amt', 'density_Ind',
        'Experience', 'Age','hour_Process', 'c1_rated', 'c2_rated', 'Contact_age']

In [ ]:
#  Distplot for numerical columns.

a = 4
b = 3
c= 1
plt.figure(figsize=[15,15])
for i in n:
    plt.subplot(a,b,c)
    sns.distplot(train[i]) 
    plt.axvline(x=train[i].mean(),color='red')
    plt.axvline(x=train[i].median(),color='green')
    c=c+1
plt.tight_layout()
plt.show()

# Red represent mean.
# Green represent median.

In [ ]:
test.loc[:, n_test].skew()

# swew is affected by outliers.

In [ ]:
for i in n_test:
    print(i,"Mean",test[i].mean(),"and Median", test[i].median(), '\n')

In [ ]:
# Compensation, Loan_amt is the positive skew.
# density_Ind, Annuity_amt, Experience, Age, hour_Process, c1_rated, c2_rated, Contact_age is quit normal.

In [ ]:
test["Compensation_log"]=np.log(test["Compensation"])

test["Loan_amt_log"] = np.log(test["Loan_amt"])

In [ ]:
train.loc[:, n].skew()

# swew is affected by outliers.

In [ ]:
for i in n:
    print(i,"Mean",train[i].mean(),"and Median", train[i].median(), '\n')

In [ ]:
# Compensation, Loan_amt is the positive skew.
# density_Ind, Experience, Age, hour_Process, c1_rated, c2_rated, Contact_age is quit normal.

In [ ]:
train["Compensation_log"]=np.log(train["Compensation"])

train["Loan_amt_log"] = np.log(train["Loan_amt"])

In [ ]:
train.head()

### Categorical Columns

In [ ]:
# test. Convert the datatypes

test["Dependents"] = test["Dependents"].astype("O")
test["Company_Rating"] = test["Company_Rating"].astype("O")
test["Home_Appliances"] = test["Home_Appliances"].astype("O")
test["Product_bought"] = test["Product_bought"].astype("O")

In [ ]:
# Convvert the datatype.

train["Dependents"] = train["Dependents"].astype("O")
train["Company_Rating"] = train["Company_Rating"].astype("O")
train["Home_Appliances"] = train["Home_Appliances"].astype("O")
train["Product_bought"] = train["Product_bought"].astype("O")

In [ ]:
cat_test = ['Vehicle_Status', 'Job_Type', 'Default_hist', 'Prop_List',
       'Region_Type', 'Credit_Inq', 'Education_det', 'Marital_Stat', 'Gen',
       'Credit_Lnks', 'Income_Alt', 'Day_Process', 'Ph.No', 'Type_Loan',
       'Region', 'Addr_permanent', 'Permanent_Addr_tag','Dependents', 'Company_Rating']

In [ ]:
a = 5
b = 4
c= 1
plt.figure(figsize=[15,15])
for i in cat_test:
    plt.subplot(a,b,c)
    plt.xticks(rotation = 90)
    sns.countplot(test[i])
    c=c+1
plt.tight_layout()
plt.show()

In [ ]:
# Test.

o = ['Home_Appliances', 'Product_bought']

a = 1
b = 2
c= 1
plt.figure(figsize=[8,4])
for i in o:
    plt.subplot(a,b,c)
    plt.xticks(rotation = 90)
    plt.title(i)
    test[i].value_counts().head(10).plot(kind = "bar")
    c=c+1
plt.tight_layout()
plt.show()

In [ ]:
# Summary of test Categorical columns

test.describe(include ="O").T

In [ ]:
cate = ['Vehicle_Status', 'Job_Type', 'Default_hist', 'Prop_List',
       'Region_Type', 'Credit_Inq', 'Education_det', 'Marital_Stat', 'Gen',
       'Credit_Lnks', 'Income_Alt', 'Day_Process', 'Ph.No', 'Type_Loan',
       'Region', 'Addr_permanent', 'Permanent_Addr_tag','Dependents', 'Company_Rating','Default']

In [ ]:
a = 5
b = 4
c= 1
plt.figure(figsize=[15,15])
for i in cate:
    plt.subplot(a,b,c)
    plt.xticks(rotation = 90)
    sns.countplot(train[i])
    c=c+1
plt.tight_layout()
plt.show()

In [ ]:
o = ['Home_Appliances', 'Product_bought']

a = 1
b = 2
c= 1
plt.figure(figsize=[8,4])
for i in o:
    plt.subplot(a,b,c)
    plt.xticks(rotation = 90)
    plt.title(i)
    train[i].value_counts().head(10).plot(kind = "bar")
    c=c+1
plt.tight_layout()
plt.show()

In [ ]:
# Summary

train.describe(include = "O").T

In [ ]:
train["Default"].value_counts()

#  Imbalance class

### Multivariate Analysis

In [ ]:
# sns.pairplot(train, hue = train["Default"])
# plt.show()

In [ ]:
# Bivariate analysis of test dataset

sns.scatterplot(x = test["Age"], y = test["Experience"]) 
plt.show()
 
# there is apositive correlation between these columns.
# There are lot of person have more or equal experience than age.

In [ ]:
sns.scatterplot(x = train["Age"], y = train["Experience"], hue = train["Default"]) 
plt.show()

# There are lot of person have more or equal experience than age.

In [ ]:
#test. Get the whole rows that's Experience and age is equal.

test.loc[(test["Age"] == test["Experience"])]

In [ ]:
# Get the whole rows that's Experience more than age.

test.loc[(test["Age"] < test["Experience"])]

In [ ]:
#test. Here, we put median having experience more than there age.

test["Experience"] = np.where(test["Age"] < test["Experience"], test["Experience"].median(), test["Experience"])

test.loc[(test["Age"] < test["Experience"])]

In [ ]:
print(test["Age"].describe(), "\n")
print(test["Experience"].describe(), "\n")

In [ ]:
# Get the whole rows that's Experience and age is equal.

train.loc[(train["Age"] == train["Experience"])]

In [ ]:
# Here, we impute median of experience of having same age.

train["Experience"] = np.where(train["Age"] == train["Experience"], train.loc[(train["Age"] == 36),"Experience"].median(), train["Experience"])

In [ ]:
train.iloc[27216:27217]

#  Now the experience is 4.5

In [ ]:
train.loc[(train["Age"] == train["Experience"])]

In [ ]:
# Get the whole rows that's Experience more than age.

train.loc[(train["Age"] < train["Experience"])]

In [ ]:
# Here, we put median having experience more than there age.

train["Experience"] = np.where(train["Age"] < train["Experience"], train["Experience"].median(), train["Experience"])

train.loc[(train["Age"] < train["Experience"])]

In [ ]:
 print(train["Age"].describe(), "\n")
print(train["Experience"].describe(), "\n")

In [ ]:
#test. To check the outlier in the data

num1_test = ['Annuity_amt', 'density_Ind', 'Age', 'hour_Process', 'c1_rated', 'c2_rated',
             'Contact_age', 'Compensation_log', 'Loan_amt_log']

a = 5
b = 4
c = 1

plt.figure(figsize = [15,15])
for i in num1_test:
    plt.subplot(a,b,c)
    sns.scatterplot(x = test[i], y = test[i]) 
    c=c+1
plt.tight_layout()
plt.show()

In [ ]:
# To check the outlier in the data
num1 = ['Annuity_amt', 'density_Ind', 'Age', 'hour_Process', 'c1_rated', 'c2_rated',
        'Contact_age', 'Compensation_log', 'Loan_amt_log']

a = 5
b = 4
c = 1

plt.figure(figsize = [15,15])
for i in num1:
    plt.subplot(a,b,c)
    sns.scatterplot(x = train[i], y = train[i], hue = train["Default"]) 
    c=c+1
plt.tight_layout()
plt.show()

In [ ]:
train.groupby(["Region", "Region_Type"])["Default"].count()

### Feature engineering techniques for dimensionality reduction

In [ ]:
train.head()

In [ ]:
train.nunique()

In [ ]:
test.head()

In [ ]:
# 1test. Home_Appliances

print(sorted(test["Home_Appliances"].unique()),"\n", end= "")

print(test["Home_Appliances"].value_counts())

In [ ]:
test["Home_abin"] = pd.cut(test["Home_Appliances"], bins = [0,3.0, 19.0], labels = ["<=3", ">=4"])

test["Home_abin"].value_counts()

In [ ]:
# 1. Home_Appliances

print(sorted(train["Home_Appliances"].unique()),"\n", end= "")

print(train["Home_Appliances"].value_counts())

In [ ]:
train["Home_abin"] = pd.cut(train["Home_Appliances"], bins = [0,3.0, 19.0], labels = ["<=3", ">=4"])

print(train["Home_abin"].value_counts())

In [ ]:
 # 2test. Experience
    
print(sorted(test["Experience"].unique()),"\n", end= "")
print(test["Experience"].value_counts().head(10))

In [ ]:
test["Experience_bin"] = pd.cut(test["Experience"], bins = [0, 6.0, 48.1], labels = ["1to6yrs", "7to48yrs"])

print(test["Experience_bin"].value_counts())

In [ ]:
# 2. Experience

print(sorted(train["Experience"].unique()),"\n", end= "")
print(train["Experience"].value_counts().head(10))

In [ ]:
train["Experience_bin"] = pd.cut(train["Experience"], bins = [0, 6.0, 48.1], labels = ["1to6yrs", "7to48yrs"])

print(train["Experience_bin"].value_counts())

In [ ]:
# 3test. Dependents

print(sorted(test["Dependents"].unique()),"\n", end= "")
print(test["Dependents"].value_counts())

In [ ]:
test["Dependents_bin"] = pd.cut(test["Dependents"], bins = [0.0, 1.0, 2.0, 9.0], labels = ["1", "2", ">=3"])

print(test["Dependents_bin"].value_counts())

In [ ]:
# 3. Dependents

print(sorted(train["Dependents"].unique()),"\n", end= "")
print(train["Dependents"].value_counts())

In [ ]:
train["Dependents_bin"] = pd.cut(train["Dependents"], bins = [0.0, 1.0, 2.0, 9.0], labels = ["1", "2", ">=3"])

print(train["Dependents_bin"].value_counts())

In [ ]:
# 4test. Contact_age

# Convert contact age days into years.

test["Contact_yrs"] = abs(test["Contact_age"]/365)

In [ ]:
# 4. Contact_age

# Convert contact age days into years.

train["Contact_yrs"] = abs(train["Contact_age"]/365)

In [ ]:
# 5test. Product_bought

print(sorted(test["Product_bought"].unique()),"\n", end= "")
print(test["Product_bought"].value_counts())

In [ ]:
test["Product_bin"] = pd.cut(test["Product_bought"], bins = [0.0, 3.0,  25.0], labels = ["0to2", "3to25"])

print(test["Product_bin"].value_counts())

In [ ]:
# 5. Product_bought

print(sorted(train["Product_bought"].unique()),"\n", end= "")
print(train["Product_bought"].value_counts())

In [ ]:
train["Product_bin"] = pd.cut(train["Product_bought"], bins = [0.0, 3.0, 25.0], labels = ["0to2", "3to25"])

print(train["Product_bin"].value_counts())

In [ ]:
# Drop unecessary columns from test

test.drop(["Compensation", "Loan_amt", "Experience", "Home_Appliances", "Dependents", "Contact_age", "Product_bought"], axis = 1, inplace = True)

In [ ]:
# Drop unecessary columns

train.drop(["Compensation", "Loan_amt", "Experience", "Home_Appliances", "Dependents", "Contact_age", "Product_bought"], axis = 1, inplace = True)

In [ ]:
# test boxplot

num1_test = test.select_dtypes(include = np.number).columns

a = 5
b = 3
c = 1

plt.figure(figsize = [8,15])
for i in num1_test:
    plt.subplot(a,b,c)
    sns.boxplot(test[i]) 
    c=c+1
plt.tight_layout()
plt.show()

In [ ]:
num1 = train.select_dtypes(include = np.number).columns

a = 5
b = 3
c = 1

plt.figure(figsize = [8,15])
for i in num1:
    plt.subplot(a,b,c)
    sns.boxplot(train[i]) 
    c=c+1
plt.tight_layout()
plt.show()

#### Remove Outlier

In [ ]:
test.info()

In [ ]:
#test. Conveert the datatypes of these category columns.

test["Home_abin"]  = test["Home_abin"].astype("O")

test["Experience_bin"]  = test["Experience_bin"].astype("O")

test["Dependents_bin"]  = test["Dependents_bin"].astype("O")

test["Product_bin"]  = test["Product_bin"].astype("O")

In [ ]:
clean_test = test.copy()
test.shape

In [ ]:
# Remove outlier using capping method from test dataset.

clean_test.loc[clean_test['Annuity_amt']>= 15999.61,'Annuity_amt']= 15999.61

clean_test.loc[clean_test['density_Ind']>= 0.0414,'density_Ind']= 0.0414

clean_test.loc[clean_test['hour_Process']>= 22,'hour_Process']= 22
clean_test.loc[clean_test['hour_Process']<= 3,'hour_Process']= 3


clean_test.loc[clean_test["Compensation_log"]>=  14.344976368948814,'Compensation_log']=  14.344976368948814
clean_test.loc[clean_test["Compensation_log"]<=   12.620728720339923,'Compensation_log']=  12.620728720339923

clean_test.loc[clean_test["Loan_amt_log"]>= 14.598352,'Loan_amt_log']= 14.598352
clean_test.loc[clean_test["Loan_amt_log"]<= 11.000206383076595,'Loan_amt_log']= 11.000206383076595

clean_test.loc[clean_test['Contact_yrs']>=  8.997260273972604,'Contact_yrs']=  8

In [ ]:
 sorted(clean_test['Contact_yrs'], reverse =True)

In [ ]:
# test boxplot

n_test = clean_test.select_dtypes(include = np.number).columns

a = 5
b = 3
c = 1

plt.figure(figsize = [8,15])
for i in n_test:
    plt.subplot(a,b,c)
    sns.boxplot(clean_test[i]) 
    c=c+1
plt.tight_layout()
plt.show()

In [ ]:
train.info()

In [ ]:
# Convert the datatypes of these category columns.

train["Home_abin"]  = train["Home_abin"].astype("O")

train["Experience_bin"]  = train["Experience_bin"].astype("O")

train["Dependents_bin"]  = train["Dependents_bin"].astype("O")

train["Product_bin"]  = train["Product_bin"].astype("O")

train["Default"]  = train["Default"].astype("O")

In [ ]:
 train.shape

In [ ]:
clean_train = train.copy()

In [ ]:
q1 = clean_train.quantile(0.25)
q3 = clean_train.quantile(0.75)

iqr = q3-q1

lower = q1-1.5*iqr
upper = q3+1.5*iqr

wt_outlier = clean_train[~((clean_train <lower)|(clean_train >upper)).any(axis = 1)]

wt_outlier.head()

In [ ]:
wt_outlier.shape

In [ ]:
num1 = wt_outlier.select_dtypes(include = np.number).columns

a = 5
b = 3
c = 1

plt.figure(figsize = [8,15])
for i in num1:
    plt.subplot(a,b,c)
    sns.boxplot(wt_outlier[i]) 
    c=c+1
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=[12,12])
sns.heatmap(wt_outlier.corr(), annot  = True)
plt.show()

# These  columns has high correlations.

# Compensation_log and Annunity _amt correlation is 0.27
# Annuity_amt and Loan_amt_log correlation is 0.47
# Compensation_log and Loan_amt_log correlation is 35

In [ ]:
clean_test.head(2)

In [ ]:
# test.

num_test = clean_test.select_dtypes(include = np.number)
num_test.head()

In [ ]:
 from sklearn.preprocessing import StandardScaler, PowerTransformer

sc = StandardScaler()

scale_test = pd.DataFrame(sc.fit_transform(num_test), columns = num_test.columns)

pt = PowerTransformer()

power_test = pd.DataFrame(pt.fit_transform(scale_test), columns = scale_test.columns).reset_index(drop = True)


power_test.head()

In [ ]:
print(power_test.shape, "\n")
print(power_test.isna().sum())

In [ ]:
# train dataset.

num1 = wt_outlier.select_dtypes(include = np.number)
num1.head()

In [ ]:
 from sklearn.preprocessing import StandardScaler, PowerTransformer

sc = StandardScaler()

scale = pd.DataFrame(sc.fit_transform(num1), columns = num1.columns)

pt = PowerTransformer()

power = pd.DataFrame(pt.fit_transform(scale), columns = scale.columns).reset_index(drop = True)


power.head()

In [ ]:
print(power.shape, "\n")
print(power.isna().sum())

In [ ]:
# test.  

cat_test = clean_test.select_dtypes(include = "O")
cat_test.head()

In [ ]:
dum_test = cat_test.loc[:,['Vehicle_Status', 'Job_Type', 'Default_hist', 'Prop_List',
       'Region_Type', 'Education_det', 'Gen',
       'Credit_Lnks', 'Income_Alt', 'Ph.No', 'Type_Loan',
       'Company_Rating',  'Addr_permanent', 'Permanent_Addr_tag',
       'Home_abin', 'Experience_bin', 'Dependents_bin', 'Product_bin']]

dum_test.head()

In [ ]:
dummy_test = pd.get_dummies(dum_test, drop_first = True).reset_index(drop = True)
dummy_test.head()

In [ ]:
dummy_test.shape

In [ ]:
cat1 = wt_outlier.select_dtypes(include = "O")
cat1.head()

In [ ]:
cat1.nunique()

In [ ]:
cat1.columns

In [ ]:
dum = cat1.loc[:,['Vehicle_Status', 'Job_Type', 'Default_hist', 'Prop_List',
       'Region_Type', 'Education_det', 'Gen',
       'Credit_Lnks', 'Income_Alt', 'Ph.No', 'Type_Loan',
       'Company_Rating',  'Addr_permanent', 'Permanent_Addr_tag',
       'Home_abin', 'Experience_bin', 'Dependents_bin', 'Product_bin' ]]
dum.head()

In [ ]:
dummy = pd.get_dummies(dum, drop_first = True).reset_index(drop = True)
dummy.head(2)

In [ ]:
woe_test = cat_test.loc[:,['Day_Process', 'Credit_Inq', 'Marital_Stat', 'Region']]
woe_test.head()

In [ ]:
woe = cat1.loc[:,['Day_Process', 'Credit_Inq', 'Marital_Stat', 'Region']]
woe.head()

In [ ]:
 import category_encoders as ce
    
train_target = cat1["Default"]
    
columns = woe.columns
woe_encoder = ce.WOEEncoder(cols= columns)

woe_encoded = woe_encoder.fit_transform( woe[columns], train_target).astype("float").reset_index(drop = True)

woe_encoded.head()

In [ ]:
woe_encoded_test = woe_encoder.transform(woe_test)
woe_encoded_test.head()

In [ ]:
x_of_test = pd.concat([power_test, dummy_test, woe_encoded_test ], axis =1)

x_of_test.head()

In [ ]:
x_of_test.shape

In [ ]:
x= pd.concat([power, dummy, woe_encoded ], axis =1)
x.head()

In [ ]:
x.shape

In [ ]:
train_target.value_counts()

In [ ]:
y = train_target.astype("int")

## 3. Model Building

In [ ]:
from sklearn.model_selection import train_test_split,GridSearchCV

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.30, random_state = 10 )

In [ ]:
print(xtrain.shape, xtest.shape)
print(ytrain.shape, ytest.shape)

In [ ]:
print(ytrain.value_counts())

print(ytest.value_counts())

# Model 1

In [ ]:
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm
from sklearn.metrics import classification_report, confusion_matrix, plot_confusion_matrix,f1_score

In [ ]:
model = LogisticRegression(solver='newton-cg',class_weight= "balanced")

train = model.fit(xtrain, ytrain)
pred0 =  train.predict(xtrain) 
f1_score(ytrain, pred0 ) # F1_score of train

In [ ]:
pred00 =  train.predict(xtest)
f1_score( ytest, pred00 ) # Test F1_score

In [ ]:
from sklearn.feature_selection import RFE 

model  = LogisticRegression(solver='newton-cg', class_weight= "balanced")
    
rfe_model = RFE(estimator = model, n_features_to_select = 5)
    
rfe_model = rfe_model.fit(xtrain, ytrain)

feat_index = pd.DataFrame(data = rfe_model.ranking_, index = xtrain.columns)

signi_feat_rfe = feat_index[feat_index == 1].index

print(signi_feat_rfe)

In [ ]:
imf_xtrain = xtrain.loc[:,['Annuity_amt', 'density_Ind', 'Age', 'hour_Process', 'c1_rated',
       'c2_rated', 'Compensation_log', 'Loan_amt_log', 'Contact_yrs',
       'Vehicle_Status_Y', 'Job_Type_IT', 'Job_Type_Non-IT',
       'Default_hist_ndf', 'Prop_List_None', 'Prop_List_One']]

In [ ]:
imf_xtest = xtest.loc[:,['Annuity_amt', 'density_Ind', 'Age', 'hour_Process', 'c1_rated',
       'c2_rated', 'Compensation_log', 'Loan_amt_log', 'Contact_yrs',
       'Vehicle_Status_Y', 'Job_Type_IT', 'Job_Type_Non-IT',
       'Default_hist_ndf', 'Prop_List_None', 'Prop_List_One']]

In [ ]:
imfx_of_test = x_of_test.loc[:,['Annuity_amt', 'density_Ind', 'Age', 'hour_Process', 'c1_rated',
       'c2_rated', 'Compensation_log', 'Loan_amt_log', 'Contact_yrs',
       'Vehicle_Status_Y', 'Job_Type_IT', 'Job_Type_Non-IT',
       'Default_hist_ndf', 'Prop_List_None', 'Prop_List_One']]

### Best Model using SMOTE with top 15 improtant features

In [ ]:
from imblearn.over_sampling import SMOTE

smt_sm= SMOTE(random_state=1)
xtrain_smote,ytrain_smote = smt_sm.fit_resample(imf_xtrain,ytrain)

In [ ]:
ytrain_smote.shape, xtrain_smote.shape

In [ ]:
model = LogisticRegression(solver='newton-cg',class_weight= "balanced")

train0 = model.fit(xtrain_smote, ytrain_smote)  # Train F1_score using SMOTE

In [ ]:
pred11 =  train0.predict(imf_xtest)
f1_score(pred11, ytest ) # Test F1_score

In [ ]:
train0 = train0.fit(xtrain_smote, ytrain_smote)
pred1 =  train0.predict(imf_xtrain)
f1_score(pred1, ytrain)

In [ ]:
p = train0.predict(imfx_of_test)

s1["Default"] = p

s1.to_csv("Submission.csv", index = False)

## Model 2

In [ ]:
from sklearn.tree import DecisionTreeClassifier
 
decision = DecisionTreeClassifier(random_state=10)
 
decision_tree = decision.fit(xtrain, ytrain)
 
y_pred = decision_tree.predict(xtest)

In [ ]:
print(f1_score(ytest, y_pred))
print(classification_report(ytest, y_pred))

In [ ]:
# Train score

y_pred_train = decision_tree.predict(xtrain)
print(f1_score(ytest, y_pred))
print(classification_report(ytest, y_pred))

In [ ]:
# Hyper parameter tuning.

tuned_paramaters = [{'criterion': ['entropy', 'gini'],
                     'max_depth': range(2, 15),
                     'min_samples_split': range(2,15)}]

decision_tree_model = DecisionTreeClassifier(random_state = 10)
 
tree_grid = GridSearchCV(estimator = decision_tree_model, 
                         param_grid = tuned_paramaters, 
                         cv = 5)
 
tree_grid.fit(xtrain, ytrain)
 
print('Best parameters for Decision Tree Classifier: ', tree_grid.best_params_, '\n')

Best parameters for Decision Tree Classifier:  {'criterion': 'entropy', 'max_depth': 2, 'min_samples_split': 2}

In [ ]:
# Important parameters.

tree_tuned = DecisionTreeClassifier(criterion = "entropy", 
                                                   max_depth = 2, 
                                                   min_samples_split = 2)

decision_tree = tree_tuned.fit(xtrain, ytrain)

# predict the attrition for test set
y_pred = decision_tree.predict(xtest)

# create a dataframe that stores the feature names and their importance
important_features = pd.DataFrame({'Features': xtrain.columns, 
                                   'Importance': decision_tree.feature_importances_})
 
imf = important_features.sort_values(by='Importance', ascending=False)
imf.head()

In [ ]:
imf["Features"].values

In [ ]:
imf_xtrain = xtrain.loc[:,['Age', 'c2_rated', 'Annuity_amt', 'Product_bin_6to25','Company_Rating_3.0',
                           'Addr_permanent_Yes', 'Permanent_Addr_tag_Yes', 'Home_abin_>=4',
                           'Experience_bin_20to48yrs', 'Experience_bin_6to10yrs' ]]

In [ ]:
imf_xtest = xtest.loc[:,['Age', 'c2_rated', 'Annuity_amt', 'Product_bin_6to25','Company_Rating_3.0',
                         'Addr_permanent_Yes', 'Permanent_Addr_tag_Yes', 'Home_abin_>=4',
                         'Experience_bin_20to48yrs', 'Experience_bin_6to10yrs' ]]

In [ ]:
imfx_of_test = x_of_test.loc[:,['Age', 'c2_rated', 'Annuity_amt', 'Product_bin_6to25','Company_Rating_3.0',
                                'Addr_permanent_Yes', 'Permanent_Addr_tag_Yes', 'Home_abin_>=4',
                                'Experience_bin_20to48yrs', 'Experience_bin_6to10yrs' ]]

In [ ]:
# SMOTE

from imblearn.over_sampling import SMOTE

smt_sm= SMOTE(random_state=1)
xtrain_smote,ytrain_smote = smt_sm.fit_resample(imf_xtrain, ytrain)

In [ ]:
tree_tuned = DecisionTreeClassifier(criterion = "entropy", 
                                                   max_depth = 2, 
                                                   min_samples_split = 2, random_state = 10)

train = tree_tuned.fit(xtrain_smote, ytrain_smote)
imf_td = train.predict(imf_xtest)

In [ ]:
print(f1_score(ytest, imf_td))
print(classification_report(ytest, y_pred))

In [ ]:
# Train score

y_pred_train = tree_tuned.predict(imf_xtrain)
print(f1_score(ytrain, y_pred_train))
print(classification_report(ytrain, y_pred_train))

## Model 3

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(n_estimators = 10, random_state = 10)
 
rf_model = rf.fit(X_train, y_train)
 
y_pred = rf_model.predict(X_test)

print(classification_report(ytest, y_pred))

In [ ]:
# It is hard to tune hyperparameter

## Descriptive Section

### Q) Once you have a mechanism to estimate the “level of default”, please describe how the financial institution must use that mechanism to decide whether to approve or decline the prospect for the loan they are applying for.

# Things dependes on Business Domain.

I thinks, it's all about to choose right labels ("Default" or "Not Default") for candidates who apply for the loan.

The level of diffcult is to select the right person for the loan approval,
beacuse CONDITION 1: If algorithm say "Not Default" but in furture person may be default for business. it's loss
and CONDITION 2: If algorithm say "Default", but in actually person is not "Default". This is also a loss because we loose
fair business, In comparison of CONDITION 1 it is not bad for business.
That's why use F1 score to overcome from this problem.     

We should go with Logistic Algorithm because we know the origin of output [0, 1]. Also our business cannot take the financial risk.
Focus on correct information of all variable atleast important 20 features. That help the algorithm to predict the right label [0,1].

In statstics Logistic Regression we change the threshold to slove our problem.

It's not the about code of Machine Learning Algorithm, It's about provide the right information to the Algorithm then the output will be more accurate.